{% extends 'internal_users/60_internal_user_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content-submain %}
<div class="card card-hover p-2 m-2">

  <h3 class="card-title p-2 m-2">Employee Password Change </h3>
  <div class="card-body pt-2 m-2">
    <div class="card-text fw-normal">

      <form method="post" class="p-1 m-1">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn  automan-glossy-metallic">Change Password</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}