{% extends 'customer_users/base.html' %}
{% load phone2numeric %}
{% block content %}

<section class="container pt-5">
    <div class = 'row pb-4 my-5'>
  <h2>Registration Preview</h2>
  <h3>Review your information before submitting:</h3>

  <div class="container pt-5">
    <div class = 'row'>
        <div class ='col col-6'>
            <div class="card card-hover">
                <div class ='card-header'> Name: {{customer_user.cust_user_first_name}} {{customer.cust_user_last_name}} </div>
                <div class = 'card-body'>
                <p class="card-text"> your registered phone number: {{customer_user.cust_user_phone_number}}</p>
                <p class="card-text">  </p>
                    <p class ='card-text'> Address: {{customer_user.cust_user_address_01}} {{customer_user.cust_user_address_02}} </p>
                    <p class ='card-text'></p>

                    <a href="{% url 'customer_user.dashboard' object.customer_id %}" class="btn btn-outline-info">Update</a>
                </div>
            </div>
        </div>
        <div class ='col col-sm-6'>
        </div>
    </div>
</div>

  
</section>>
{% endblock %}