{% extends 'customer_users/base.html' %}

{% block content %}
<section class="container pt-5">
  <h2>Customer Login</h2>
  <form method="POST">
    {% csrf_token %}
    <div>
      <label for="phone_number">Phone Number:</label>
      <input type="text" name="phone_number" id="phone_number">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
    </div>
    <button type="submit">Login</button>
  </form>
</section>
{% endblock %}