{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<!-- THIS app talent_management uses the same static and base file largely from dashboard app. The original html file is based on hyper v5.
2023-05-22
by Stephen Wang-->
<html lang="en" data-layout="topnav" data-bs-theme="light" data-layout-mode="fluid" data-menu-color="light" data-topbar-color="light" data-layout-position="fixed" stopthemadness-user-drag="true" stopthemadness-user-select="true" data-sidenav-size="default" stopthemadness-banners="true">

    <head>
        <meta charset="utf-8" />
        <title>Dashboard -- a place where the main work is done. </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="this website is still under development." name="description" />
        <meta content="amazing-automan-llc" name="author"/>

        <!-- App favicon -->
        <!-- <link rel="shortcut icon" href="assets/images/favicon.ico"> -->

        <!-- Plugin css -->
        <link rel="stylesheet" href="{% static 'dashboard/vendor/daterangepicker/daterangepicker.css' %}">
        <link href="{% static 'dashboard/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %} " rel="stylesheet" type="text/css">

        <!-- App css -->
        <link href="{% static 'dashboard/css/app-creative.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />

        <!-- Icons css -->
        <link href="{% static 'dashboard/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
       
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> 
        <!-- JQuery-->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script> 

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
        <!-- Begin page -->
        <div class="wrapper">
            <div class="navbar-custom">
                <div class="topbar container-fluid">
                    <div class="d-flex align-items-center gap-lg-2 gap-1">

                        <!-- Topbar Brand Logo -->
                        <div class="logo-topbar">
                            <!-- Logo light -->
                            <a href="{% url 'homepageapp:homepage' %} " class="logo-light">
                                <span class="logo-lg">
                                    <img src="{% static 'dashboard/images/logo-2022.svg' %}" alt="logo">
                                </span>
                                <!-- <span class="logo-sm">
                                    <img src="assets/images/logo-sm.png" alt="small logo">
                                </span> -->
                            </a>

                            <!-- Logo Dark -->
                            <!-- <a href="index.html" class="logo-dark">
                                <span class="logo-lg">
                                    <img src="assets/images/logo-dark.png" alt="dark logo">
                                </span>
                                <span class="logo-sm">
                                    <img src="assets/images/logo-dark-sm.png" alt="small logo">
                                </span>
                            </a> -->
                        </div>

                        <!-- Sidebar Menu Toggle Button -->
                        <button class="button-toggle-menu">
                            <i class="mdi mdi-menu"></i>
                        </button>

                        <!-- Horizontal Menu Toggle Button -->
                        <button class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                            <div class="lines">
                                <span></span>
                            </div>
                        </button>


                    </div>

                    <ul class="topbar-menu d-flex align-items-center gap-3">
                        <li class="dropdown d-lg-none">
                            <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="ri-search-line font-22"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
                                <form class="p-3">
                                    <input type="search" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                </form>
                            </div>
                        </li>

                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle arrow-none nav-user px-2" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img src="{% static 'internal_users/images/users/2023-05-22-optimus_prime_01.png' %}" alt="user-image" width="32" class="rounded-circle">
                                </span>
                                {% if user.is_authenticated %}
                                <span class="d-lg-flex flex-column gap-1 d-none">
                                    <h5 class="my-0">{{user.user_first_name}} , {{user_last_name}}</h5>
                                    <h6 class="my-0 fw-normal">Email {{user.email}}</h6>
                                </span>
                                {% endif %}

                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown">

                                <!-- item-->
                                <a href="{% url 'internal_users:internal_user_dashboard' %}" class="dropdown-item">
                                    <i class="mdi mdi-account-circle me-1"></i>
                                    <span>My Profile - Employee Info</span>
                                </a>

                                <!-- item-->
                                <a href="{% url 'internal_users:internal_user_logout' %}" class="dropdown-item">
                                    <i class="mdi mdi-logout me-1"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ========== Topbar End ========== -->
        </div>
        <!-- end of wrapper -->
    
        {% block content-main %}
        <h1>this is the main content block.</h1>
        {% endblock %}

        <!-- Theme Config Js -->
       <script src="{% static 'dashboard/js/hyper-config.js' %}"></script>        

        <!-- Vendor js -->
        <script src="{% static 'dashboard/js/vendor.min.js' %}"></script>
        
        <!-- Daterangepicker js -->
        <script src="{% static 'dashboard/vendor/daterangepicker/moment.min.js' %}"></script>
        <script src="{% static 'dashboard/vendor/daterangepicker/daterangepicker.js' %}"></script>
        
        <!-- Apex Charts js -->
        <script src="{% static 'dashboard/vendor/apexcharts/apexcharts.min.js' %}"></script>

        <!-- Vector Map js -->
        <script src="{% static 'dashboard/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
        <script src="{% static 'dashboard/vendor/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>

        <!-- Dashboard App js -->
        <script src="{% static 'dashboard/js/pages/demo.dashboard.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'dashboard/js/app.min.js' %}"></script>

        <!-- Include the inputmask library in your HTML template. You can either download the library and include it locally or use a CDN. For example, using the CDN: -->

        <!-- jQuery 5.0.6 added on 2023-05-28-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

        <!-- Add this script tag in your HTML template -->
        <script>
            $(function() {
                $('[data-inputmask]').inputmask();
            });
        </script>        
    </body>
</html> 