.vscode
aws
.condatmp
bin
conda-meta
etc
Finder
frontend
lib
man
include
Messenger - 2.1.0
my-development-notes
.env
node_modules
.ipynb_checkpoints
michell1_db_jsons
idea-testing-ground.ipynb 
idea-testing-ground.ipynb