
DJANGO_USE_DEBUG_TOOLBAR=True
DJANGO_SECRET_KEY=32$$at_sfgrvwhkl)h8s%#&x-goo^2@(v+qcpx79o)9^(($d%y
DJANGO_SETTINGS_MODULE=automanshop.settings
DJANGO_DEBUG=True
DJANGO_PROD_ENV=False
ALLOWED_HOSTS=127.0.0.1,localhost,
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
CSRF_COOKIE_DOMAIN=127.0.0.1
RECAPTCHA_PUBLIC_KEY='<replace-it-with-your-own>'
RECAPTCHA_PRIVATE_KEY=6LdAfEgpAAAAAJ5bBMm8jDlT_RjaInHS0IPTey09
EMAIL_SENDER='<replace-it-with-your-own>'
EMAIL_SENDER_PWD='<replace-it-with-your-own>'
EMAIL_VERIFICATION_API_KEY='<replace-it-with-your-own>'
GOOGLE_CREDENTIAL_PATH='<replace-it-with-your-own-url>'
SQL_DOCKERIZED=False
SQL_DOCKERIZED_HOST=sqldb
DB_SERVER=localhost
DB_PORT=1433
DB_DATABASE1=Db_1
DB_DATABASE2=DB_2
DEMO_DB_DATABASE_NAME=DemoDB01
DB_SA_USER=sa
DB_SA_USER_PASSWORD='<replace-it-with-your-own>'
DB_APP_USR=newDBUser
DB_APP_USER_PASSWORD='<replace-it-with-your-own>'
AZURE_DB_SERVER='<replace-it-with-your-own>'
AZURE_DB_USER='<replace-it-with-your-own>'
AZURE_DB_PORT=1433
AZURE_DB_PASSWORD='<replace-it-with-your-own>'
AZURE_DB_DATABASE=Db_1
EAB_KEY_ID=''
EAB_HMAC_KEY=''
ACME_API_TOKEN=''
PLATE2VIN_API_KEY=''
STRIPE_PUBLIC_TEST_KEY=pk_test_323232
STRIPE_SECRET_TEST_KEY=sk_test_EWEWEWREVXCDSS
STRIPE_PUBLIC_LIVE_KEY=pk_live_78798989898
STRIPE_SECRET_LIVE_KEY=sk_live_598TFDFD
OPENAI_API_KEY=sk-EWDFDCDD
OPENAI_API_KEY2=sk-FDREDC454ESDE
USE_LOCAL_REDIS=0
LOCAL_REDIS_HOST=localhost
LOCAL_REDIS_PORT=6379
LOCAL_REDIS_PASSWORD=None
LOCAL_REDIS_USE_SSL=False
REDIS_DOCKERIZED=True
REDIS_DOCKERIZED_HOST=redis
REDIS_HOST='your own local redis server on your machine or using a docker container'
REDIS_PORT=6380
REDIS_PASSWORD=vewew
REDIS_USE_SSL=True
GOOGLE_MAP_API_KEY=ewddrerexewe