<!-- Footer-->
<footer class="footer bg-faded-light">
    <div class="border-bottom border-light py-4">
      <div class="container d-sm-flex align-items-center justify-content-between"><a class="d-inline-block" href="/"><img src="{% static 'apis/img/logo/logo-light.svg' %}" width="116" alt="76 Pro Lube Plus logo"></a>
        <div class="d-flex pt-3 pt-sm-0">
          <div class="dropdown ms-n3">
            <button class="btn btn-light btn-link btn-sm dropdown-toggle fw-normal py-2" type="button" data-bs-toggle="dropdown"><i class="fi-globe me-2"></i>Eng</button>
          </div>
          <div class="dropdown">
            <button class="btn btn-light btn-link btn-sm dropdown-toggle fw-normal py-2 pe-0" type="button" data-bs-toggle="dropdown"><i class="fi-map-pin me-2"></i>Garden Grove, CA</button>
          </div>
        </div>
      </div>
    </div>
 
    <div class="container d-lg-flex align-items-center justify-content-between fs-sm pb-3">
      <div class="d-flex flex-wrap justify-content-center order-lg-2 mb-3"><a class="nav-link nav-link-light fw-normal" href="#">Terms of use</a><a class="nav-link nav-link-light fw-normal" href="#">Privacy policy</a></div>
      <p class="text-center text-lg-start order-lg-1 mb-lg-0"><span class="text-light opacity-50">&copy; All rights reserved. Made by </span><a class="nav-link-light fw-bold" href="https://76prolubeplus.com" target="_blank" rel="noopener">76 Pro Lube Plus</a></p>
    </div>
  </footer>