{% extends 'homepageapp/10_homepageapp_base.html' %}

{% load crispy_forms_tags %}

{% block content1-main %}
<div class="container  my-1">
  <div class="appointment-preview">
      <h3>Appointment Preview</h3>
      Hello {{appointment.appointment_first_name}} {{apppontment.appointment_last_name}}, here is the appointment you requested.
      <table class="table table-dark">
        <thead>
        </thead>
        <tbody>
          <tr>
            <th>Appointment Time Requested</th>
            <td>{{ appointment.appointment_requested_datetime }}</td>
          </tr>
          <tr>
            <th scope="row"> Vehicle Information</th>
            <td>{{ appointment.appointment_vehicle_detail }}</td>
          </tr>
          <tr>
            <th scope="row">The description of your concern</th>
            <td>{{ appointment.appointment_concern_description }}</td>
          </tr>
          <tr>
            <th scope="row">Email you entered</th>
            <td>{{appointment.appointment_email }}</td>
          </tr>
          <tr>
            <th scope="row">Phone Number</th>
            <td>{{appointment.appointment_phone_number }}</td>
          </tr>   
          <tr>
            <th scope="row">Status</th>
            <td>{{appointment.get_appointment_status_display }}</td>
          </tr>
        </tbody>
      </table>
    
        
      <h3>Uploaded Images</h3>
      <!-- Display images -->
        <div class="row">
          {% for image in iamges %}
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="image-thumbnail">
                <img src="{{ image.appointment_image.url }}" alt="Uploaded appointment image" class="img-fluid">
              </div>
            </div>
          {% endfor %}
        </div>

  </div>
  <!-- end of appointment-preview  -->

  <!-- Buttons to confirm or go back and edit -->
  <div class="action-buttons">
    <a href="{% url 'appointments:create_appointment' %}" class="btn btn-secondary">Go Back</a>
    <!-- Implement the save_appointment view and url -->
    <a href="{% url 'appointments:appointment_success_view' pk=appointment.pk %}" class="btn btn-primary">Confirm</a>
  </div>
  
</div> 
<!-- end of container  -->

<!-- added on 2023-11-01  custom css style  -->
<style>
    /* Assuming this CSS is in a file that's included in your base template */
    .image-gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 10px; /* Adjust as needed */
    }

    .image-thumbnail {
      flex: 1 0 21%; /* 4 images per row, adjust as needed */
      max-width: 21%; /* As above */
    }

    .image-thumbnail img {
      width: 100%;
      height: auto;
      border: 1px solid #ddd; /* Adjust styling as needed */
      border-radius: 4px; /* Rounded corners for the thumbnails */
    }

</style>

{% endblock %}