{% extends 'homepageapp/base.html' %}
{% load static %}
{% block content1-main %}
<h2>Today is {{current_time}} </h2>

<h5>Total number of active customers: {{number_of_actives}}</h5>
{% if customers %}
<div class="card mb-4">
    {% for customer in customers %}
    <div class ='card body'>
        <li>customer new UID: {{customer.customer_new_uid_v01}}</li>
        <li>customer old ID: {{customer.customer_id}}</li>
        <li>{{ customer.customer_first_name }} </li>
        <li> {{customer.customer_last_name}} </li>
        <li> Customer allow SMS: {{customer.customer_does_allow_SMS}} </li>
        <li> Created At: {{customer.customer_created_at}} </li>
    </div>
    {% endfor %} 
</div>
<div class ='row'>
    <div class = 'col-12'>
      
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    {% if page_obj.has_previous %}
                        <a class="page-link" href="?page=1">
                            <span class= 'step-links' aria-hidden="True">&laquo; First (1) </span>
                        </a>
                </li>
                <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"  tabindex="-1" >
                            <span class= 'step-links' >Previous ({{ page_obj.previous_page_number }})</span>
                        </a>
                    {% endif %}
                </li>
                <li class ="page-item active">
                    <a class="page-link" href="?page={{ page_obj.number }}">
                        <span>
                            Current ({{ page_obj.number }})
                        </span>
                    </a>
                </li>
                <li class="page-item">
                    {% if page_obj.has_next %}
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span>Next ({{ page_obj.next_page_number }})</span>
                        </a>
                </li>
                <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                            <span aria-hidden="true" >Last ({{ page_obj.paginator.num_pages }}) &raquo;</span>
                        </a>
                    {% endif %}
        
                </li>
            </ul>
  
    </div>
</div>

    {% else %}
    <p>There are no matched customers found here.</p>
    {% endif %}
        
{% endblock %}