{% extends 'homepageapp/base-data.html' %}
{% load static %}
{% block content1-main %}
<h2 class="title">Today is {{current_time}} </h2>
{% if page_obj %}
<div class="navbar" style="background-color: orange;">
<h1>Active Customers</h1>
</div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th> New UID</th>
                <th>Old ID</th>
                <th>first Name</th>
                <th>Last Name</th>
                <th>Customer Allow SMS</th>
                <th>Created at</th>
                <th>Customer is deactivated</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in page_obj %}
                <tr>
                    <td>{{customer.customer_new_uid_v01}} </td>
                    <td>{{customer.customer_id}}</td>
                    <td>{{ customer.customer_first_name}}</td>
                    <td>{{ customer.customer_last_name }}</td>
                    <td>{{ customer.customer_does_allow_SMS }}</td>
                    <td>{{ customer.customer_created_at }}</td>
                    <td>{{ customer.customer_is_deleted }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No active customers found.</td>
                </tr>
                {% endfor %} 
        </tbody>
    </table>

</div>
<div class ='row'>
    <div class = 'col-12'>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    {% if page_obj.has_previous %}
                        <a class="page-link" href="?page=1">
                            <span class= 'step-links' aria-hidden="True">&laquo; First (1) </span>
                        </a>
                </li>
                <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"  tabindex="-1" >
                            <span class= 'step-links' >Previous ({{ page_obj.previous_page_number }})</span>
                        </a>
                    {% endif %}
                </li>
                <li class ="page-item active">
                    <a class="page-link" href="?page={{ page_obj.number }}">
                        <span>
                            Current ({{ page_obj.number }})
                        </span>
                    </a>
                </li>
                <li class="page-item">
                    {% if page_obj.has_next %}
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span>Next ({{ page_obj.next_page_number }})</span>
                        </a>
                </li>
                <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                            <span aria-hidden="true" >Last ({{ page_obj.paginator.num_pages }}) &raquo;</span>
                        </a>
                    {% endif %}
        
                </li>
            </ul>
  
    </div>
</div>

    {% else %}
    <p>There are no matched customers found here.</p>
    {% endif %}
        
{% endblock %}