{% extends 'homepageapp/base.html' %}

{% block content1-main %}
<h1>Customer Details</h1>


<div class="container pt-5">
    <div class = 'row'>
        <div class ='col col-sm-4'>
            <div class="card">
                <div class ='card-header'>Customer ID:{{customer.customer_id}}. customer since {{customer.customer_first_visit_date|date:'Y-m'}}  </div>
                <div class = 'card-body'>
                <p class="card-text"> Name: {{customer.customer_first_name}} {{customer.customer_last_name}} </p>
                <p class="card-text"> Spouse Name: {{customer.customer_spouse_name}} </p>
                    <p class ='card-text'> Memo: {{customer.customer_memo_1}} </p>
                    <p class ='card-text'>Charge status: {{customer.customer_is_okay_to_charge}}</p>
                    <p class ='card-text'>Last visit on: {{customer.customer_last_visit_date}} </p>
                    <p class ='card-text'> Updated on: {{customer.customer_last_updated_date}}</p>
                    <a href="{% url 'homepageapp:customer-update' object.customer_id %}" class="btn btn-outline-info">Update</a>
                </div>
            </div>
        </div>
        <div class ='col col-sm-6'>
        </div>
    </div>
</div>

<br>

{% endblock %}