{% extends 'homepageapp/base.html' %}

{% block content1-main %}
<h1>Customer Details</h1>

<a href="{% url 'customer-update' object.customer_id %}" class="button">Update</a>
<div class="container">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: {{customer.customer_id}}</li>
        <li class="list-group-item">Name: {{customer.customer_first_name}} {{customer.customer_last_name}}</li>
        <li class="list-group-item">Last Updated at: {{customer.custmomer_last_updated_date}}</li>
        <li class="list-group-item">Memo: {{customer_memo_1}} </li>
    </ul>
</div>
<br>

{% endblock %}