{% extends 'customer_users/00_customer_user_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<section class="bg-top-center  p-5 m-5">

  <div class='row'>
    <div class="col col-8">
      <div class="card card-body card-dark border-primary shadow">
        <h3  class="text-dark">Register a new account with us. </h3>
        <div class="card-text m-1"> You can book an appointment, manage your own vehicles, view the status of current repair(s) and view service histories. </div>
        <form class = 'form-floating' method="POST">
          {% csrf_token %}
          {{form |crispy}}
          <button class = 'btn btn-outline-primary justify-content-center' type="submit">Register</button>
        </form>
        
      </div>  
    </div>
    <div class="col col-4">
      Sign in with Google Email
      <button clas="btn btn-outline-info"><a href=''></a></button>
    </div>
  </div>
  <!-- end of div 'row' -->
  
</section>  
{% endblock %}