{% extends 'customer_users/00_customer_user_base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% block content1-main %}
<div class="bg-top-center">
    <div class="d-flex align-items-center justify-content-center vh-100">
      <div class="shadow-lg p-5 rounded">
        <h3 class="mb-4 text-center">Hello there. Please sign in with your registered email.</h3>
        <p class="mb-4 text-dark text-center">Register a new account <a href="{% url 'customer_users:customer_user_register' %}">here</a></p>
        <form method="post"> 
          <!--  id="customer_user_login_form" -->
          {% csrf_token %}
          {{form|crispy}}

          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>


        
      </div>
    </div>
    <!-- end of d-flex  -->
    
    <!-- 2023-11-08 added a customer support converation button  -->
    {% comment %}
        {% include 'customer_users/02_customer_user_support_conversation_ui.html' %}


        <script src="{% static 'CRMs/js/support_conversation.js' %}"></script>
    {% endcomment %}


     <!-- added customized css styling  -->
    <link href="{% static 'core_operations/css/automan-theme.css' %}" rel="stylesheet" >
   
    <div id="loading-spinner-new-conversation" class="automan-spinner-border-new-conversation text-primary" role="status" style="display: none;">
      <span class="sr-only">launching a new customer support conversation</span>
    </div>

    <form method="POST" id="new-support-conversation-form">
      {% csrf_token %}
      <btn class="automan-support-button" id="new_conversation_button" type="submit" value="Submit">

          <i class="automan-support-icon fa fa-comments"></i>
    
        </btn>
    </form>
  
    <div class="automan-support-window" id="support_conversation_window">
    </div>

    <script>
      // Function to handle debounce
      function debounce(func, wait, immediate) {
        var timeout;
        return function() {
          var context = this, args = arguments;
          var later = function() {
            timeout = null;
            if (!immediate) func.apply(context, args);
          };
          var callNow = immediate && !timeout;
          clearTimeout(timeout);
          timeout = setTimeout(later, wait);
          if (callNow) func.apply(context, args);
        };
      }

      $(document).ready(function() {
          var debounceTimeout;
          var ajaxCallTimeout;
          var ajaxCallDuration = 10000; // 10 seconds for timeout

          $('#new_conversation_button').click(debounce(function(event) {
              event.preventDefault();
              var $button = $(this);
              var $spinner = $('#loading-spinner-new-conversation');
              var $form = $('#new-support-conversation-form');
              var csrfToken = $form.find('[name=csrfmiddlewaretoken]').val();

              // Disable the button and show the spinner
              $button.prop('disabled', true);
              $spinner.show();

              // Clear any existing ajax call timeout
              clearTimeout(ajaxCallTimeout);

              // Set a new timeout for the AJAX call
              ajaxCallTimeout = setTimeout(function() {
                console.error('Timeout: Could not get a response from the server.');
                $spinner.hide();
                $button.prop('disabled', false);
              }, ajaxCallDuration);

              $.ajax({
                url: '/crms/new_conversation/',
                type: 'POST',
                data: JSON.stringify({}),
                contentType: 'application/json',
                dataType: 'json',
                headers: {
                  'X-Requested-With': 'XMLHttpRequest',
                  'X-CSRFToken': csrfToken
                },
                success: function(data) {
                  console.log('Fetch data success. Conversation UUID is: ', data.uuid);
                  if (data.uuid) {
                    renderConversationWindow(data.uuid);
                  }
                },
                error: function(xhr, status, error) {
                  console.error('Error:', error);
                },
                complete: function() {
                  // Clear the ajax call timeout since the call is complete
                  clearTimeout(ajaxCallTimeout);
                  $spinner.hide();
                  $button.prop('disabled', false);
                },
              });
            
          }, 300));
          
      });

      function renderConversationWindow(uuid) {

        // Determine if the app is running on localhost
        // var isLocalhost = ["localhost", "127.0.0.1"].includes(window.location.hostname);
        // var wsProtocol = isLocalhost ? "ws://" : "wss://";
        var wsProtocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
        // Creating the HTML structure
        var conversationHtml = `  
              <div class="card card-hover border-5">
                  <h4 class="card-header text-dark">Customer Support</h4>
                  <p class="text-muted m-1 p-1">(Support-Case-ID:${uuid})</p>
                  <div class="card-body m-1">
                      <textarea id="conversation-log" cols="40" rows="10" readonly></textarea><br>
                      <input id="conversation-message-input" type="text" class="form-control mb-2" />
                      <button class="btn btn-outline-dark btn-sm" id="conversation-message-send-button" type="button">Send</button>
                  </div>
              </div>
            `;

        // Append it to the body or a specific element
        $('#support_conversation_window').append(conversationHtml);

        // Make the support conversation window visible
        $('.support-window').fadeIn(1000); // This will smoothly fade in the window

        // Establish the WebSocket connection
        // use ws:// when its local server. use wss:// for production server.
        const conversationSocket = new WebSocket(
            wsProtocol + window.location.host + '/ws/conversations/' + uuid + '/'
        );

        //
        conversationSocket.onopen = function(event) {
            console.log('WebSocket is now open');
            // You can now safely send a message
            conversationSocket.send(JSON.stringify({ message: 'Hello Server!' }));
        };

        // WebSocket event for receiving messages
        conversationSocket.onmessage = function(e) {
          const data = JSON.parse(e.data);
          const message = data.conversation_message;
          const direction = data.direction;  // 0 for outgoing, 1 for incoming

          let formattedMessage = '';
          if (direction === 0) {
              formattedMessage = 'Operator: ' + message;
          } else {
              formattedMessage = 'Customer: ' + message;
          }

          $('#conversation-log').val(function(index, value) {
              return value + (formattedMessage + '\n');
          });
        };

        conversationSocket.onclose = function(e) {
            console.error('Customer Support Conversation socket was closed unexpectedly.');
        };

        // Send message event. via clicking 'conversation-message-send-button' button or pressing 'Enter' key
        $('#conversation-message-send-button').on('click', function() {
            // var messageInput = $('#conversation-message-input');
            // var message = messageInput.val();
            
            const messageInputDom = document.querySelector('#conversation-message-input');
            const conversation_message = messageInputDom.value;

            if (conversationSocket.readyState === WebSocket.OPEN) {
                conversationSocket.send(JSON.stringify({
                    'conversation_message': conversation_message
                }));
            } else {
                console.error('WebSocket is not open: ' + conversationSocket.readyState);
            }
            
            messageInputDom.value = '';
            // Determine the direction of the message
            // For example, let's assume 1 is for messages from customer to operator
            var messageDirection = 1;
            conversationSocket.send(JSON.stringify({
                'conversation_message':conversation_message,
                'message_direction': messageDirection,
            }));
            messageInput.val('');
        });

        // Press Enter to send message
        $('#conversation-message-input').keyup(function(e) {
            if (e.key === 'Enter') {
                $('#conversation-message-send-button').click();
            }
        });
        // Focus the input field for message
        $('#conversation-message-input').focus();
      }
  </script>

</div>
<!-- custom css style that makes the login form looks metal and glossy. -->
<style>
  body, html {
    height: 100%;
    background: linear-gradient(145deg, #c4c3c3, #4b4b4b);
  }

  .shadow-lg {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  .bg-top-center {
    background-color: #2f2f2f;
    background-image: radial-gradient(at top center, #ffffff22, transparent);
    color: white;
  }

  .rounded {
    border-radius: 15px;
    overflow: hidden; /* To make sure inner elements do not break the rounded corners */
    background: linear-gradient(315deg, #DADADA, #fff1f2);
    border: 1px solid #5a5a5a;
    position: relative;
  }

  .rounded:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(315deg, #ffffff44, #00000044);
    border-radius: inherit;
  }

  .btn-primary {
    background-color: #5a5a5a;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #747474;
    transform: translateY(-2px);
  }

  .btn-primary:active {
    background-color: #4d4d4d;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
  }

  .form-control {
    background: transparent;
    border: 1px solid #5a5a5a;
    color: #FFA500;
    transition: border 0.3s ease;
  }

  .form-control:focus {
    border-color: #747474;
    box-shadow: 0 0 5px rgba(116, 116, 116, 0.5);
  }
</style>
{% endblock %}