{% extends 'customer_users/00_customer_user_base.html' %}
{% load crispy_forms_tags %}
{% block content1-main %}
<div class=" bg-top-center">
    <div class="d-flex align-items-center justify-content-center vh-100">
      <div class="shadow-lg p-5 rounded">
        <h3 class="mb-4 text-center">Hello there. Please sign in with your registered email.</h3>
        <p class="mb-4 text-dark text-center">Register a new account <a href="{% url 'customer_users:customer_user_register' %}">here</a></p>
        <form method="post"> 
          <!--  id="customer_user_login_form" -->
          {% csrf_token %}
          {{form|crispy}}
            <!-- {{ form.username }}
            {{ form.password }}
            <div class="form-check">
                 {{ form.remember_me }}
            </div> -->
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>


        
      </div>
    </div>
    <!-- end of d-flex  -->
</div>
<!-- custom css style that makes the login form looks metal and glossy. -->
<style>
  body, html {
    height: 100%;
    background: linear-gradient(145deg, #c4c3c3, #4b4b4b);
  }

  .shadow-lg {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  .bg-top-center {
    background-color: #2f2f2f;
    background-image: radial-gradient(at top center, #ffffff22, transparent);
    color: white;
  }

  .rounded {
    border-radius: 15px;
    overflow: hidden; /* To make sure inner elements do not break the rounded corners */
    background: linear-gradient(315deg, #DADADA, #fff1f2);
    border: 1px solid #5a5a5a;
    position: relative;
  }

  .rounded:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(315deg, #ffffff44, #00000044);
    border-radius: inherit;
  }

  .btn-primary {
    background-color: #5a5a5a;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #747474;
    transform: translateY(-2px);
  }

  .btn-primary:active {
    background-color: #4d4d4d;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
  }

  .form-control {
    background: transparent;
    border: 1px solid #5a5a5a;
    color: white;
    transition: border 0.3s ease;
  }

  .form-control:focus {
    border-color: #747474;
    box-shadow: 0 0 5px rgba(116, 116, 116, 0.5);
  }
</style>
{% endblock %}