{% extends 'customer_users/00_customer_user_base.html' %}

{% load static %}
{% block content1-main %}
<div class="bg-top-center bg-repeat-0 pt-5 m-1" style="background-image: url('{% static 'homepageapp/img/home/light_grey_background.jpg' %}'); background-size: cover; background-position: center center;">
  <div class="container m-1 mb-sm-2" >
      <!-- Breadcrumb-->
      <nav class="m-2 pt-md-3" aria-label="Breadcrumb">
        <ol class="breadcrumb breadcrumb-dark">
          <li class="breadcrumb-item"><a href="{% url 'homepageapp:homepage' %}">Home</a></li>
          <li class="breadcrumb-item active"><a href="{% url 'customer_users:customer_user_dashboard' %}">Account</a></li>
        </ol>
      </nav>
      <!-- Page content-->
      <div class="row m-1">
        <!-- Sidebar-->
        <div class="col col-4 p-1 m-1" >
          <!-- Account nav-->
          <div class="card card-body card-dark border-10 shadow-hover pb-1 me-lg-1" >
            <div class="d-flex d-md-block d-lg-flex align-items-start pt-lg-2 mb-4">
              <img class="rounded-circle" src="{% static 'homepageapp/img/avatars/avatar_new_01.png' %}" width="48" alt="User Avator">
              <div class="pt-md-2 pt-lg-0 ps-3 ps-md-0 ps-lg-3">
                <h2 class="fs-lg text-dark mb-0">{{customer_user.cust_user_first_name}} {{customer_user.cust_user_last_name}}</h2>
                <!-- <span class="star-rating"><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i></span> -->
                <ul class="list-unstyled fs-sm mt-3 mb-0">
                  <li><a class="nav-link-dark fw-normal"><i class="fi-phone opacity-60 me-2"></i>{{customer_user.cust_user_phone_number}}</a></li>
                  <li><a class="nav-link-dark fw-normal"><i class="fi-mail opacity-60 me-2"></i>{{customer_user.cust_user_email}}</a></li>
                </ul>
              </div>
            </div><a class="btn btn-primary mb-1" href="{% url 'appointments:create-appointment' %}"><i class="fi-plus me-2"></i>Service Appointment</a><a class="btn btn-outline-dark d-block d-md-none w-100 mb-3" href="#account-nav" data-bs-toggle="collapse"><i class="fi-align-justify me-2"></i>Menu</a>
            <div class="collapse d-md-block mt-3" id="account-nav">
              <div class="card-nav">
                <a class="card-nav-link" id='personal-info'><i class="fi-user me-2"></i>Personal Info </a>
                <a class="card-nav-link" href="#"><i class="fi-lock me-2"></i>Actice Repairs</a>
                <a class="card-nav-link" id= 'my-vehicles' href="#"><i class="fi-car me-2"></i>My Vehicles<span class="badge bg-faded-light ms-2">2</span></a>
                <a class="card-nav-link" href="#"><i class="fi-users me-2"></i> Linked to 76 Pro Lube Plus </a>
                <a class="card-nav-link" href="{% url 'customer_users:customer_user_logout' %}"><i class="fi-logout me-2"></i>Sign Out</a></div>
            </div>
          </div>
        </div>
        
        <!-- Content-->
        <!-- main section  -->
        <div class="col col-7 p-1 m-1" id="main-section">
         
              {% comment %}
                  {% block content-javascript %}
                  this is the main area
                  {% endblock %} 
              {% endcomment %} 
          
        </div>
        <!-- end of main section  -->

      </div>
  </div>

</div>

{% endblock %}