{% extends 'homepageapp/10_homepageapp_base.html' %}
{% load crispy_forms_tags %}
{% block content1-main %}
<div class="d-flex justify-content-center vh-100">
  <section class="container pt-5 m-5">
    <div class="row">
      <div class="col-4 m-1 center">
        
        <h3>Hello there. Please sign in with your registered email.</h3>
          <form method="POST" id="customer_user_login_form">
            {% csrf_token %}
            {{ form | crispy}}
            <button type="submit">Login</button>
          </form>
      </div>
    </div>
  </section>
</div>
<!-- end of d-flex  -->
{% endblock %}