{% extends 'customer_users/20_customer_user_profile.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content-usersubsection %}

<div class="container-fluid my-1">
  <h3>Vehicle Searches</h3>

  <div class="card card-hover border border-primary my-1">
      <form method="post">
          {% csrf_token %}
          {{ form|crispy}}
          <input type="submit" value="Search">
      </form>
  </div>
    <!-- search result card  -->
    <div class="card card-hover border border-secondary my-1">
        {% if vin_data_list %}
        <p>Total Results Found: {{ count }}. </p>
        <table class=" table table-light my-1">
            <thead>
                <tr>
                    <th>Variable ID</th>
                    <th>Variable Name</th>
                    <th>Value</th>
                    <th>ValueID</th>
                </tr>
            </thead>
            <tbody>
                {% for item in vin_data_list %}
                <tr>
                    <td>{{ item.variable_id }}</td>
                    <td>{{ item.variable_name }}</td>
                    <td>{{ item.value }}</td>
                    <td>{{ item.value_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        {% endif %}
    </div>
    <!-- end of card  -->
</div>
<!-- end of container  -->

{% endblock %}
