{% extends 'customer_users/00_customer_user_base.html' %}
{% load static %}
{% block content %}

<section class="container pt-5">
    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-4 col-lg-5">
                    <div class="card card-hover border border-10">
                        <!-- Logo -->
                        <div class="card-header py-4 text-center bg-info">
                            <a href="{% url 'homepageapp:homepage' %}">
                                <span><img src="{% static '/homepageapp/2022-Logo-Transparent-small.png' %}" alt="logo" height="22"></span>
                            </a>
                        </div>

                        <div class="card-body p-4">
   
                            <div class="text-center m-auto">
                                <i class="mdi-emoticon-devil-outline" alt="mail-sent-image" ></i>
                                <h4 class="text-dark-50 text-center mt-4 fw-bold">New Acccount Activation Required</h4>
                                <p class="text-muted mb-4 my-1">
                                    Hi, an activation link has been emailed to <b>{{customer_user.cust_user_email}}</b>.
                                    Please verify your email by clicking on the activation link that comes with it.
                                    Thank you.
                                </p>
                            </div>

                            <form action="{% url 'homepageapp:homepage' %}">
                                <div class="mb-0 text-center">
                                    <button class="btn btn-primary" type="submit"><i class="mdi mdi-home me-1"></i>Back to Home</button>
                                </div>
                            </form>

                        </div> <!-- end card-body-->
                    </div>
                    <!-- end card-->
                    
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->

</section>
{% endblock %}