{% extends 'homepageapp/10_homepageapp_base.html' %}

{% block content1-main %}
<div class="container" style="padding-top: 95px;">
  <h2>Fed Reserver Quarterly Seniro Loan Officer Survery (SLOOS) PDFs July</h2>
  <div class="row">
    {% for pdf in pdf_files %}
      <div class="col-md-4 my-2">
        <div class="card card-hover ">
          <!-- You can add a static image or a generated thumbnail image here -->
          <!-- <img src="thumbnail.png" class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title">{{ pdf|slice:"67:" }}</h5>  <!-- slice the first 67 charcaters of the url link --> 
            <a href="{{ pdf }}" class="btn btn-outline-primary">View PDF</a>
            <button type="button" class="btn btn-outline-secondary">AI Analysis</button>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-12">
        <p>No pdfs found.</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
