{% extends 'homepageapp/10_homepageapp_base.html' %}
{% load static %}

{% block content1-main %}
<section class="bg-top-center bg-repeat-0 pt-md-1" style="background-image: url({% static 'homepageapp/img/car-finder/home/hero-bg.png' %}); background-size: 1920px 630px;">
    <div class="container mt-5 pt-5">
        <!-- Breadcrumb-->
        <nav class="mb-1 pt-md-1" aria-label="Breadcrumb">
            <ol class="breadcrumb breadcrumb-dark">
                <li class="breadcrumb-item"><a href="{% url 'homepageapp:homepage' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
        </nav>
        <div class="row ">
            <div class="col col-12 pt-2 ">
                <!-- Profile -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="{% static 'homepageapp/img/founders/stephen_profile_small_02.png' %}" class="card-img-top" alt="Stephen Wang" style="width: 257px; height: 284px">
                            </div>
                            <div class="col-sm-8">
                                <h2 class="card-title">Stephen Wang</h2>
                                <p class="card-text">
                                    Stephen Wang, our founder, envisions superior auto repair services through the seamless integration of advanced technologies into business operations. 
                                </p>
                                <p class="card-text">
                                    We leverage a one-stop-shop model, amalgamating our system to achieve unprecedented improvements in efficiency.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
