{% extends 'dashboard/00-base.html' %}

{% block content-main %}
  <h1>WIP Dashboard V2 -- via ListView</h1>
  <form method="post" class="center">
    {% csrf_token %}
    <table>
      <thead>
        <tr>
          <th>Repair Order ID</th>
          <th>Customer ID</th>
          <th>Customer First Name</th>
          <th>Customer Last Name</th>
          <th>Customer Address</th>
        </tr>
      </thead>
      <tbody>
        {% for repair_order in repair_orders %}
        <tr>
          <td><a href="{% url 'dashboard-detail' pk=repair_order.repair_order_id %}">{{ repair_order.repair_order_id }}</a></td>
          <td>{{ repair_order.repair_order_customer.customer_id }}</td>
          <td>{{ repair_order.repair_order_customer.customer_first_name }}</td>
          <td>{{ repair_order.repair_order_customer.customer_last_name }}</td>
          <td>
            {% for address in repair_order.repair_order_customer.addresses.all %}
            {{ address.address_line_01 }}, {{ address.address_city }}, {{ address.address_state }} {{ address.address_zip_code }}<br>
            {% endfor %}
          </td>
        </tr>
        {% empty %}
        <p>There are no results found.</p>

        {% endfor %}
      </tbody>
    </table>

  </form>
{% endblock %}
