{% extends 'dashboard/00-base.html' %}

{% block content-main %}
  <h1>WIP Dashboard V1 </h1>
  <table>
    <thead>
      <tr>
        <th>Repair Order ID</th>
        <th>Customer Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>

      </tr>
    </thead>
    <tbody>
      {% for repair_order in all_in_one_set %}
          <tr>
            <td>{{ repair_order.repair_order_id }}</td>
            <td>{{ repair_order.repair_order_customer.customer_first_name }} {{ repair_order.repair_order_customer_id.customer_last_name }}</td>
            <td>{{ repair_order.repair_order_customer.addresses.address_line_01 }}</td>
            <td>{{ repair_order.repair_order_customer.addresses.address_city }}</td>
            <td>{{ repair_order.repair_order_customer.addresses.address_state }}</td>
            <td>{{ crepair_order.repair_order_customer.addresses.address_zip }}</td>
          </tr>

      {% endfor %}
    </tbody>
  </table>
{% endblock %}
