
{% extends 'dashboard/00_base.html' %}
{% load static %}

<br>
{% block content-main %}
<div class="container container-fluid">
  <div class ='row '>
    <div class="col-6">
      <h1>Repair Order Detail version 1</h1>
    </div>
    <div class ='col-6 ml-auto'>
      <h4 class ='text-left'>Today is {{current_time}} </h4>
    </div>
     
  </div>
  
  <a class='btn btn-outline-light' href = "{% url 'dashboard:dashboard-v2' %}"> <i class ='fa fa-arrow-circle-left'></i>go back to dashboard</a>
</div>
  <br>
  <div class="container container-fluid">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id='repair-tab' data-toggle="tab" href="#repair">Repair Order Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id='customer-tab' data-toggle="tab" href="#customer">Texts with Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id='address-tab' data-xtoggle="tab" href="#address">Related Comments</a>
      </li>
    </ul>
  </div>
<div class="container container-fluid">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="repair" role="tabpanel" aria-labelledby="repair-tab">
        <!-- Placeholder content for repair order information -->
        
        <div class="row my-1">
            <div class="col-4">
              <div class ='card'>
                <div class="card-body">
                  <p class="card-text">Repair Order ID:{{repair_order.repair_order_id}}-Last Updated:{{repair_order.repair_order_last_updated_date}}  </p>
                  <p class ='small'>Aggr. Notes {{repair_order.repair_order_aggr_notes}} </p>
                  <p class='card-text'><u>Customer ID:{{ repair_order.repair_order_customer.customer_id }}</u> <a href="{% url 'homepageapp:customer-detail' pk=customer_id %} " class="card-link">view more</a></p>
                  <p class="card-text">{{ repair_order.repair_order_customer.customer_first_name }} {{ repair_order.repair_order_customer.customer_last_name }} </p>
                  <p class="card-text">{{ repair_order.repair_order_customer.phones.first.phone_number }}</p>
                  <p class="card-text">{{repair_order.repair_order_customer.addresses.get.address_line_01}}</p>
                  <p class="card-text">{{repair_order.repair_order_customer.addresses.get.address_city }}, {{ repair_order.repair_order_customer.addresses.get.address_state }}  {{ repair_order.repair_order_customer.addresses.get.address_zip_code }}</p>
                </div>
              </div>
            </div>
            <div class ='col-8'>
              <div class = 'card' >
                <div class="card-header">Vehicle ID: {{repair_order.repair_order_vehicle.vehicle_id }}</div>
                <div class="card-body">
                  <div class ='row'>
                    <p class="card-text col-4">Year: {{repair_order.repair_order_vehicle.vehicle_year}}</p>
                    <p class="card-text col-4">Odometer: {{repair_order.repair_order_vehicle.vehicle_odometer_1}}</p>
                    <p class="card-text col-4">GVW: {{repair_order.repair_order_vehicle.vehicle_GVW.gvw_text}}</p>
                    <p class="card-text col-4">VIN: {{repair_order.repair_order_vehicle.VIN_number}}</p>
                    <p class="card-text col-4">License Plate Number: {{repair_order.repair_order_vehicle.vehicle_license_plate_nbr}}</p>
                    <p class="card-text col-4">License State: {{repair_order.repair_order_vehicle.vehicle_license_state}}</p>
                  </div>
                </div>
              </div>
            </div>

        </div>
        
        
        <div class ='container my-1'>
          <div class ='row'>
            <div class="btn-group" role="group">
              <a class="btn btn-outline-primary">Canned Job List--ModelChoiceField</a>
              <a class="btn btn-outline-primary"> Clean all </a>
              <a class="btn btn-outline-primary">Refresh </a>
              <a class="btn btn-outline-primary">Add a new Line</a>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class ='container my-4'>
            {% with line_items=line_items %}
              {% include 'dashboard/02-repair_order_line_items.html' %}
            {% endwith %}
          </div>
        </div>

    </div>
    <div class="tab-pane fade" id="customer" role="tabpanel" aria-labelledby="customer-tab">
        <h3>Text History</h3>
        <!-- Placeholder content for customer information -->
        {% with text_messages=text_messages %}
            {% include 'dashboard/50-text-message-side-bar.html' %}
        {% endwith %}
    </div>

    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
        <h3>History of Repair Order related to the same customer</h3>
        <!-- Placeholder content for address information -->
        <p>Address_Line_01: {{repair_order.repair_order_customer.addresses.get.address_line_01 }} ,</p>
        
        </p>
    </div>
  </div>
</div>
<br>
  
  <script>
    $(document).ready(function(){
        $('.nav-tabs a').click(function(){
            $(this).tab('show');
        });
        $('.card-body a').click(function(){
            $('#customer').show()
        });
        });
  </script>
{% endblock %}
