{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Automan LLC - 3D Models</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.152.2/three.min.js" integrity="sha512-R7eFJsc3NlvsTn5hdD/Xvi6FwpFGAoGOa2nBNU89DXAZzXgQQrfhgHVpm5Kh7H9EuCU3Ymexph9z4IiHrq977g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.152.2/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@0.152.2/examples/jsm/"
        }
      }
    </script>
    <style>
      #control-panel {
        position: relative;
        /* top: 10px;
        left: 10px; */
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2px;
        border-radius: 2px;
        color: #fff;
      }
    </style>
</head>
<body>
  <div class="container container-fluid">
    <h1>Rendered 3D models with rotation</h1>
    <p>future membership custom car model protoype</p>
      
        <div id="control-panel" class="col col-1">
          <label>
            <input type="checkbox" id="auto-rotate-toggle">
            Auto Rotate
          </label>
        </div>
  </div>


    <div class="container container-fluid">
      <div class="row my-1">
        <div class ='col col-6'>
          <div class="card-header"> model 1 - v8 engine's cranshaft (glb file)</div>
          <div class="card" id="model1-convas-container" style="width: 400px; height: 300px;">
          </div>
        </div>
        <div class ='col col-6 '>
          <div class="card-header">model 2 - car ignition (generic) </div>
          <div class="card" id="model2-convas-container"  style="width: 400px; height: 300px;">
          </div>
        </div>
      </div>

      <div class="row my-1">
        <div class ='col col-6'>
          <div class="card-header"> model 3 - 2010 toyota prius</div>
          <div class="card" id="model3-convas-container" style="width: 400px; height: 300px;">
          </div>
        </div>
        <div class ='col col-6 '>
          <div class="card-header">model 4 - 2017 toytota TRD </div>
          <div class="card" id="model4-convas-container"  style="width: 400px; height: 300px;">
          </div>
        </div>
      </div>
    </div>

    <script>
      // Add event listeners to the toggle button:
      const autoRotateToggle = document.getElementById('auto-rotate-toggle');

      let rotationSpeed = 0.01;
      let isAutoRotating = false;
      let rotationRequestId;

      function startAutoRotation() {
        if (!isAutoRotating) {
          isAutoRotating = true;
          // rotateModel();
        }
      }

      function stopAutoRotation() {
        if (isAutoRotating) {
          isAutoRotating = false;
          cancelAnimationFrame(rotationRequestId);
        }
      }

      // function rotateModel() {
      //   carEngineModel.rotation.y += rotationSpeed;

      //   if (isAutoRotating) {
      //     rotationRequestId = requestAnimationFrame(rotateModel);
      //   }
      // }

      autoRotateToggle.addEventListener('change', () => {
        if (autoRotateToggle.checked) {
          startAutoRotation();
        } else {
          stopAutoRotation();
        }
      });

    </script>
    <script type="module"> //src="{% static 'we_create_3d_models/3d_models/models.js' %}"
    
      import * as THREE from 'three';
      import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
      import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';
      import { OBJLoader } from 'three/addons/loaders/OBJLoader.js';

      //  0xeaedee 0xfffff0
      // const geometry = new THREE.BoxGeometry( 0.5, 0.5, 0.5);
      const material = new THREE.MeshBasicMaterial( { color: 0x049ef4 } );
      const material2 = new THREE.MeshBasicMaterial( { color: 0x641E16 } );  //dark dark red

      // this is the MeshStandardMaterial()
      const material3 = new THREE.MeshStandardMaterial({ color: 0x145A32 }); //color:0x145A32,
      // material3.vertexColors = THREE.VertexColors;

      // this is the MeshLambertMaterial
      // Create a new MeshLambertMaterial
      const material4 = new THREE.MeshLambertMaterial({ color: 0x049ef4, fog:true,reflectivity:1,});
      // material4.vertexColors = THREE.VertexColors;
      material4.reflectivity = 1;
      material4.fog = true;

      var scene1 = new THREE.Scene();
      var scene2 = new THREE.Scene(); 
      // scene1.fog = new THREE.Fog( 0x3f7b9d, 10, 15 );

      var camera1 = new THREE.PerspectiveCamera(20, window.innerWidth / window.innerHeight, 0.5, 20);
      // Set camera 1 position 
      camera1.position.set(2, 1, 2);
      camera1.updateProjectionMatrix(); // Update the camera's projection matrix
      const depthTexture = new THREE.DepthTexture();
      const depthMaterial = new THREE.MeshDepthMaterial({
        // depthPacking: THREE.RGBADepthPacking, // Use RGBA packing for depth values
        alphaTest: 0.8 // Set an alpha threshold for depth testing
      });

      // adding the lights to the scene
      const light = new THREE.AmbientLight( 0x3f7b9d ); // soft white light 0x404040
      scene1.add( light );  
      scene2.add( light );  

      // Path to the first model
      // const modelPath1 = './V8_Engine_V3.glb';
      const modelPath1 = "{% static 'we_create_3d_models/3d_models/V8_Engine_V3.glb' %}"

      // Path to the second model
      // const modelPath2 = './Ignition.obj';
      const modelPath2 = "{% static 'we_create_3d_models/3d_models/Ignition.obj' %}"

      // const cube = new THREE.Mesh( geometry, material );
      // scene.add( cube );

      // Load and render the first model
      const model1Container = document.getElementById('model1-convas-container');
      const renderer1 = new THREE.WebGLRenderer();
      renderer1.setSize(model1Container.clientWidth, model1Container.clientHeight);
      // Assign the depth texture to the renderer's depthTexture property:
      renderer1.depthTexture = depthTexture;
      // Set the background color to light grey
      renderer1.setClearColor(0xeaedee); // Use hexadecimal color code 
      renderer1.autoClearDepth = true;
      model1Container.appendChild(renderer1.domElement);

      // Add controls
      var controls1 = new OrbitControls(camera1, renderer1.domElement);
      // controls.target.set(0, 0, 0); // Set the target position of the controls
      // controls.autoRotate = true; // Enable auto-rotation

      // Load and display the car engine model 1 via GLTFLoader(); gltf is web browser compatiblity
      const loader1 = new GLTFLoader();
      loader1.load(modelPath1, function (gltf) {
        var model = gltf.scene;
        // Set 
        var center = new THREE.Vector3(); // Calculate the center of the model's bounding box
        var boundingBox = new THREE.Box3().setFromObject(model); // Replace 'model' with your actual model variable
        center = boundingBox.getCenter(center); // Get the center of the bounding box
        model.position.sub( center ); // center the model
        // obj.rotation.y = Math.PI;   // rotate the model
        model.scale.set(1, 1, 1);

        model.traverse(function (child) {
        if (child.isMesh) {

          // Assign the material to the mesh
          child.material = material3;
        }
        });
        scene1.add(model);
        // Set desired position, rotation, and scale of the model
        
        // Render the scene
        // renderer.render(scene, camera);

      });

      // Load and render the second model
      const model2Container = document.getElementById('model2-convas-container');
      const renderer2 = new THREE.WebGLRenderer();
      renderer2.setSize(model2Container.clientWidth, model2Container.clientHeight);
      renderer2.setClearColor(0xeaedee); // Use hexadecimal color code 
      model2Container.appendChild(renderer2.domElement);

      scene2.fog = new THREE.Fog( 0x3f7b9d, 10, 15 );
      var camera2 = new THREE.PerspectiveCamera(10, window.innerWidth / window.innerHeight, 0.5, 5000);

      // Set camera position
      camera2.position.set(1300, 1500, 1500);
      camera2.updateProjectionMatrix(); // Update the camera's projection matrix

      // Add controls 2
      var controls2 = new OrbitControls(camera2, renderer2.domElement);
      controls2.autoRotate = false;

      // Load the second model (model 2) via OBJLoader loader
      const loader2 = new OBJLoader();
      // loader3.setMaterials( material2 );
      loader2.load(modelPath2, function (model) {
        // Set 
        var center = new THREE.Vector3(); // Calculate the center of the model's bounding box
        var boundingBox = new THREE.Box3().setFromObject(model); // Replace 'model' with your actual model variable
        center = boundingBox.getCenter(center); // Get the center of the bounding box
        model.position.sub( center ); // center the model
        // obj.rotation.y = Math.PI;   // rotate the model
        model.scale.set(1, 1, 1);
        // model.traverse(function (child) {
        model.traverse((child) => {  
          if (child.isMesh ) { //child instanceof THREE.Mesh
            child.material = material4; // material4; // material1;depthMaterial
          }
        });
        scene2.add(model);
          // renderer.render(scene, camera);
      },
      // called when loading is in progresses
      function ( xhr ) {
        console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );
      },
      // called when loading has errors
      function ( error ) {
        console.log( 'An error happened.' );
      }
      );
      // load the third one - toyota 2010 prius
      var scene3 = new THREE.Scene()
      var camera3 = new THREE.PerspectiveCamera(20, window.innerWidth / window.innerHeight, 0.1, 3000);
      // Set camera position
      camera3.position.set(-350, 100, 300);

      const model3Container = document.getElementById('model3-convas-container');
      const renderer3 = new THREE.WebGLRenderer();
      renderer3.setSize(model2Container.clientWidth, model2Container.clientHeight);
      renderer3.setClearColor(0xeaedee); // Use hexadecimal color code 
      model3Container.appendChild(renderer3.domElement);

      // Add controls 3
      var controls3 = new OrbitControls(camera3, renderer3.domElement);
      controls3.autoRotate = false;

      const loader3 = new OBJLoader() ;

      loader3.load("{% static 'we_create_3d_models/3d_models/Toyota_Prius_XW30_2010.obj' %}", function (model) {

        var center = new THREE.Vector3(); // Calculate the center of the model's bounding box
        var boundingBox = new THREE.Box3().setFromObject(model); // Replace 'model' with your actual model variable
        center = boundingBox.getCenter(center); // Get the center of the bounding box
        model.position.sub( center ); // center the model
        // obj.rotation.y = Math.PI;   // rotate the model
        model.scale.set(1, 1, 1);
        // model.traverse(function (child) {
        model.traverse((child) => {  
          if (child.isMesh ) { //child instanceof THREE.Mesh
            child.material = depthMaterial; //depthMaterial // material4; // material1;depthMaterial
          }
        });
          // Set desired position, rotation, and scale of the model
          scene3.add(model);
          // Render the scene
          // renderer.render(scene, camera);
          
      });

      // load the third one - toyota 2010 prius
      var scene4 = new THREE.Scene()
      var camera4 = new THREE.PerspectiveCamera(20, window.innerWidth / window.innerHeight, 0.1, 3000);
      // Set camera position
      camera4.position.set(-500, -500, 800);

      const model4Container = document.getElementById('model4-convas-container');
      const renderer4 = new THREE.WebGLRenderer();
      renderer4.setSize(model4Container.clientWidth, model4Container.clientHeight);
      renderer4.setClearColor(0xeaedee); // Use hexadecimal color code 
      model4Container.appendChild(renderer4.domElement);

      // Add controls 4
      var controls4 = new OrbitControls(camera4, renderer4.domElement);
      controls4.autoRotate = false;

      const loader4 = new OBJLoader() ;

      loader4.load("{% static 'we_create_3d_models/3d_models/Toyota+TRD+2017.obj' %}", function (model) {

        var center = new THREE.Vector3(); // Calculate the center of the model's bounding box
        var boundingBox = new THREE.Box3().setFromObject(model); // Replace 'model' with your actual model variable
        center = boundingBox.getCenter(center); // Get the center of the bounding box
        model.position.sub( center ); // center the model
        // obj.rotation.y = Math.PI;   // rotate the model
        model.scale.set(1, 1, 1);
        // model.traverse(function (child) {
        model.traverse((child) => {  
          if (child.isMesh ) { //child instanceof THREE.Mesh
            child.material = material2; // material4; // material1;depthMaterial
          }
        });
          // Set desired position, rotation, and scale of the model
          scene4.add(model);
          // Render the scene
          // renderer.render(scene, camera);
          
      });


      // // Render the scene
      function animate() {
          requestAnimationFrame(animate);
          // cube.rotation.x += 0.01;
          // cube.rotation.y += 0.01;
          // rotation.y += 0.01; // rotationSpeed;
          if (isAutoRotating) {
            controls1.autoRotate = true; // - controls1.autoRotate;
            controls2.autoRotate = true; // - controls2.autoRotate;
            controls3.autoRotate = true; // - controls3.autoRotate;
            controls4.autoRotate = true; // - controls3.autoRotate;
          }
          else {
              controls1.autoRotate = false;
              controls2.autoRotate = false;
              controls3.autoRotate = false;
              controls4.autoRotate = false;
          }
        
          renderer1.render(scene1, camera1);
          renderer2.render(scene2, camera2);
          renderer3.render(scene3, camera3);
          renderer4.render(scene4, camera4);
          controls1.update(); // Update the controls 1
          controls2.update(); // Update the controls 2
          controls3.update(); // Update the controls 3
          controls4.update(); // Update the controls 4
        }
        animate();
        

      

    </script>
</body>
</html>