
<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>HTML Presentation Mode</title>

		<meta name="description" content="Credit Card Default Prediction Model">
		<meta name="author" content="Stephen Wang">
        
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="{% static 'polls/css/reveal.css' %}">
		<link rel="stylesheet" href="{% static 'polls/css/theme/black.css'%}" id="theme">
		<!-- Bootstrap Core CSS -->
		<!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
		<!-- custom font -->
		<link href="{% static 'polls/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="{%static 'polls/lib/css/zenburn.css'%}">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/polls/css/print/pdf.css' : 'polls/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">
			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<section>
						<h1>Machine Learning Model</h1>
						<h3>to predict credit card defaulting</h3>
						<h4>Based on 4 SKlearn Regression Models</h4>
						<a href="#" class="navigate-down"></a>
						</section>
					<section>
						<h2>Github Repository  
							 <a href="https://github.com/zjgcainiao/ML_CreditCardDefaultPrediction">
								<i class="fab fa-github lg"></i>
							</a>
						</h2>
						<br/>
						<h2 class='fragment'>Teammates</h2>
						<ul class='fragment'>
							<li>Abulla Othow Othuw</li>
							<li>Alexandra Boonsook</li>
							<li>Farai Mungofa</li>
							<li>Shanakay Brandford</li>
							<li><a href='https://github.com/zjgcainiao'>Stephen Wang</a></li>
						</ul>
						
					</section>
				</section>

				<section>
					<h2>Libraries & Web Framework We Used</h2>
					<ul>
							<li>core ML Library: sklearn (4 regression models)</li>
							<li>other python Libraries: pandas, pymango, seaborns</li>
							<li>HTML/CSS/Javascript: Bootstrap, jQuery, d3.js, plotly.js</li>
							<li>Database: MySQL</li>
							<li>Server: Amazon Web Service (AWS)</li>
						</ul>
				</section>

				<!-- Example of nested vertical slides -->
				<section>
					<section>
						<h2>Let's Talk about Data</h2>

						<br>
	
					</section>
					<section> 
						<h2>Data Columns</h2>
						<table class='table table-responsive'>
						<thead>
						<tr class="header">
						<th align="left">Name</th>
						<th align="left">Description</th>
						</tr>
						</thead>
						<tbody>
						<tr >
						<td align="left">ID</td>
						<td align="left">ID of each client</td>
						</tr>
						<tr  >
						<td align="left">LIMIT_BAL</td>
						<td align="left">Amount of given credit in NT dollars (includes individual and family/supplementary credit)</td>
						</tr>
						<tr  >
						<td align="left">SEX</td>
						<td align="left">Gender (1=male, 2=female)</td>
						</tr>
						<tr  >
						<td align="left">EDUCATION</td>
						<td align="left">(1=graduate school, 2=university, 3=high school, 4=others, 5=unknown, 6=unknown)</td>
						</tr>
						<tr  >
						<td align="left">MARRIAGE</td>
						<td align="left">Marital status (1=married, 2=single, 3=others)</td>
						</tr>
						<tr  >
						<td align="left">AGE</td>
						<td align="left">Age in years</td>
						</tr>
						<tr  >
						<td align="left">PAY_0</td>
						<td align="left">Repayment status in September, 2005 (-2=no consumption, -1=pay duly, 0=the use of revolving credit, 1=payment delay for one month, 2=payment delay for two months, … 8=payment delay for eight months, 9=payment delay for nine months and above)</td>
						</tr>
						<tr  >
						<td align="left">PAY_2</td>
						<td align="left">Repayment status in August, 2005 (scale same as above)</td>
						</tr>
						<tr  >
						<td align="left">PAY_3</td>
						<td align="left">Repayment status in July, 2005 (scale same as above)</td>
						</tr>
						<tr  >
						<td align="left">PAY_4</td>
						<td align="left">Repayment status in June, 2005 (scale same as above)</td>
						</tr>
						<tr  >
						<td align="left">PAY_5</td>
						<td align="left">Repayment status in May, 2005 (scale same as above)</td>
						</tr>
						<tr  >
						<td align="left">PAY_6</td>
						<td align="left">Repayment status in April, 2005 (scale same as above)</td>
						</tr>
						<tr  >
						<td align="left">BILL_AMT1</td>
						<td align="left">Amount of bill statement in September, 2005 (NT dollar)</td>
						</tr>
						<tr  >
						<td align="left">BILL_AMT2</td>
						<td align="left">Amount of bill statement in August, 2005 (NT dollar)</td>
						</tr>
						<tr  >
						<td align="left">BILL_AMT3</td>
						<td align="left">Amount of bill statement in July, 2005 (NT dollar)</td>
						</tr>
						<tr  >
						<td align="left">BILL_AMT4</td>
						<td align="left">Amount of bill statement in June, 2005 (NT dollar)</td>
						</tr>
						<tr >
						<td align="left">BILL_AMT5</td>
						<td align="left">Amount of bill statement in May, 2005 (NT dollar)</td>
						</tr>
						<tr  >
						<td align="left">BILL_AMT6</td>
						<td align="left">Amount of bill statement in April, 2005 (NT dollar)</td>
						</tr>
						<tr  >
						<td align="left">PAY_AMT1</td>
						<td align="left">Amount of previous payment in September, 2005 (NT dollar)</td>
						</tr>
						<tr  >
						<td align="left">PAY_AMT2</td>
						<td align="left">Amount of previous payment in August, 2005 (NT dollar)</td>
						</tr>
						<tr  >
						<td align="left">PAY_AMT3</td>
						<td align="left">Amount of previous payment in July, 2005 (NT dollar)</td>
						</tr>
						<tr  >
						<td align="left">PAY_AMT4</td>
						<td align="left">Amount of previous payment in June, 2005 (NT dollar)</td>
						</tr>
						<tr >
						<td align="left">PAY_AMT5</td>
						<td align="left">Amount of previous payment in May, 2005 (NT dollar)</td>
						</tr>
						<tr  >
						<td align="left">PAY_AMT6</td>
						<td align="left">Amount of previous payment in April, 2005 (NT dollar)</td>
						</tr>
						<tr >
						<td align="left">default.payment.next.month</td>
						<td align="left">Default payment (1=yes, 0=no)</td>
						</tr>
						</tbody>
					</table>
					</section>
 <!-- 2022-07-04 notes: this is a good place to install dynamic coding to contain data -->
					<!-- a quick glance at the dataset
					 -->
					<section>
						<h2>Take a glance</h2>
						<table border="1" class="dataframe">
								<thead>
								  <tr style="text-align: right;">
									<th></th>
									<th>age</th>
									<th>bill_amt1</th>
									<th>bill_amt2</th>
									<th>bill_amt3</th>
									<th>bill_amt4</th>
									<th>bill_amt5</th>
									<th>bill_amt6</th>
									<th>default</th>
									<th>grad_school</th>
									<th>high_school</th>
									<th>limit_bal</th>
									<th>male</th>
									<th>married</th>
									<th>pay_1</th>
									<th>pay_2</th>
									<th>pay_3</th>
									<th>pay_4</th>
									<th>pay_5</th>
									<th>pay_6</th>
									<th>pay_amt1</th>
									<th>pay_amt2</th>
									<th>pay_amt3</th>
									<th>pay_amt4</th>
									<th>pay_amt5</th>
									<th>pay_amt6</th>
									<th>university</th>
								  </tr>
								</thead>
								<tbody>
								  <tr>
									<th>0</th>
									<td>24</td>
									<td>3913</td>
									<td>3102</td>
									<td>689</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>1</td>
									<td>0</td>
									<td>0</td>
									<td>20000</td>
									<td>0</td>
									<td>1</td>
									<td>2</td>
									<td>2</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>689</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>1</td>
								  </tr>
								  <tr>
									<th>1</th>
									<td>26</td>
									<td>2682</td>
									<td>1725</td>
									<td>2682</td>
									<td>3272</td>
									<td>3455</td>
									<td>3261</td>
									<td>1</td>
									<td>0</td>
									<td>0</td>
									<td>120000</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>2</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>2</td>
									<td>0</td>
									<td>1000</td>
									<td>1000</td>
									<td>1000</td>
									<td>0</td>
									<td>2000</td>
									<td>1</td>
								  </tr>
								  <tr>
									<th>10</th>
									<td>34</td>
									<td>11073</td>
									<td>9787</td>
									<td>5535</td>
									<td>2513</td>
									<td>1828</td>
									<td>3731</td>
									<td>0</td>
									<td>0</td>
									<td>1</td>
									<td>200000</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>2</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>2306</td>
									<td>12</td>
									<td>50</td>
									<td>300</td>
									<td>3738</td>
									<td>66</td>
									<td>0</td>
								  </tr>
								  <tr>
									<th>100</th>
									<td>32</td>
									<td>672</td>
									<td>10212</td>
									<td>850</td>
									<td>415</td>
									<td>100</td>
									<td>1430</td>
									<td>0</td>
									<td>1</td>
									<td>0</td>
									<td>140000</td>
									<td>1</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>10212</td>
									<td>850</td>
									<td>415</td>
									<td>100</td>
									<td>1430</td>
									<td>0</td>
									<td>0</td>
								  </tr>
								  <tr>
									<th>1000</th>
									<td>29</td>
									<td>94453</td>
									<td>95860</td>
									<td>67782</td>
									<td>-2618</td>
									<td>95748</td>
									<td>101299</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>100000</td>
									<td>1</td>
									<td>1</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>3320</td>
									<td>5000</td>
									<td>0</td>
									<td>100000</td>
									<td>7186</td>
									<td>0</td>
									<td>1</td>
								  </tr>
								</tbody>
						</table>
					</section>
				</section>
				<section id="fragments">
					<h2>Go to the website</h2>
					<p><a href="/">click me</a></p>
				</section>

				

			</div>

		</div>

		<script src="{% static 'polls/lib/js/head.min.js' %}"></script>
		<script src="{% static 'polls/js/reveal.js' %}"></script>
		<script src="{% static 'polls/js/reveal_initialize.js'%}"></script>
	</body>

</html>
