{% load static %}
<!-- ========== Topbar Start ========== -->
<div class="navbar-custom" style="background: linear-gradient(30deg, rgb(246, 246, 246) 20%, rgb(194, 195, 196) 100%);">
    <div class="topbar container-fluid">
        <div class="d-flex align-items-center gap-lg-2 gap-1">
            <!-- Topbar Brand Logo -->
            <a class='navbar-brand' href="{% url 'homepageapp:homepage' %} ">
                <!-- <span class="logo-lg"> -->
                <img class="logo-topbar logo" src="{% static '/homepageapp/img/logo/2022-logo-transparent-small.png' %}"
                    width="80" alt="logo">
                <!-- </span> -->
                <!-- Brand Logo  -->
                <!-- <a href="{% url 'homepageapp:homepage' %} " class="logo logo-light">
                    <img src="{% static '/homepageapp/img/logo/2022-logo-transparent-small.png' %}" alt="small logo">
                </a> -->
            </a>

            <!-- Sidebar Menu Toggle Button -->
            <button class="button-toggle-menu">
                <i class="mdi mdi-menu"></i>
            </button>
        </div>
        <!-- end of d-flex  -->

        <ul class="topbar-menu d-flex align-items-center gap-3">
            <li class="dropdown">
                {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle arrow-none nav-user px-2" data-bs-toggle="dropdown" href="#"
                    role="button" aria-haspopup="false" aria-expanded="false">
                    <span class="account-user-avatar">
                        <img src="{% static 'dashboard/images/users/avatar-1.jpg' %}" alt="user-image" width="32"
                            class="rounded-circle">
                    </span>

                    <span class="d-lg-flex flex-column gap-1 d-none" styling="font-family:'Exo2',sans-serif;">
                        <p class="my-0">Hi {{user.user_first_name}} (Email: {{user.email |truncatechars:15}})
                        </p>
                        <h6 class="my-0 ">Auth Group:
                            {{user.get_user_auth_group_display}}</h6>
                    </span>

                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown">

                    <!-- item-->
                    <a href="{% url 'internal_users:internal_user_profile' %}" class="dropdown-item">
                        <i class="mdi mdi-account-circle me-1"></i>
                        <span>My Profile - Employee Info</span>
                    </a>

                    <!-- item-->
                    <a href="{% url 'internal_users:internal_user_logout' %}" class="dropdown-item">
                        <i class="mdi mdi-logout me-1"></i>
                        <span>Logout</span>
                    </a>
                </div>
                {% else %}
                <span class="d-lg-flex flex-column gap-1 d-none">
                    <h5 class="my-0">NO INFORMATION</h5>
                    <h6 class="my-0 fw-normal">No internal user logged in.</h6>
                </span>

                {% endif %}
            </li>
        </ul>
    </div>
    <!-- end of topbar container-fluid -->
</div>
<!-- ========== Topbar End ========== -->