{% extends 'dashboard/00_dashboard_base.html' %}
{% load humanize %}
{% load core_operations.common_filters %}
{% load crispy_forms_tags %}

{% block content-main %}
<div class="container-fluid my-1">
  <!-- Breadcrumb-->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-dark">
      <li class="breadcrumb-item"><a href="{% url 'homepageapp:homepage' %}">Homepage</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dashboard:main_dash' %}">Main Dash</a></li>
      <li class="breadcrumb-item "><a href="{% url 'dashboard:vehicle_dash' %}">Moving Requests</a></li>
      <li class="breadcrumb-item active" area-current="page">Create</li>
    </ol>
  </nav>
</div>

{% include 'dashboard/02_dashboard_messages_sector.html' %}


<div class="container-fluid my-1">
  <div class="card border border-secondary">
    <h2 class="card-header">Create a New Moving Request</h2>
    <form method="post" class="card-body ">
      {% csrf_token %}

      <h3 clsas="card-title">Moving Request Details</h3>
      {{ moving_request_form|crispy }}
      <hr>
      <h3 clsas="card-title">Containers</h3>
      {{ container_formset.management_form }}
      <div class="container justify-content-between">
        <h4>Containers</h4>
        <div clss="row">
          <button type="button" id="add-container" class="btn btn-outline-primary">Add More Containers</button>
        </div>


        {% for form in container_formset %}
        <div class="container-form">
          {{ form|crispy }}

          <h4>Moving Items in this Container</h4>
          <!-- Add an inline formset for each container -->
          {% include "dashboard/120_moving_item_formset.html" with formset=form.moving_items_formset %}
        </div>
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
  </div>
</div>


{% endblock %}