{% extends 'dashboard/00_dashboard_base.html' %}
{% load crispy_forms_tags %}
{% block content-main %}
<div class="container container-fluid" id='customer_create-container'>
    <!-- Breadcrumb-->
    <nav class="pt-0" aria-label="Breadcrumb">
        <ol class="breadcrumb breadcrumb-dark">
            <li class="breadcrumb-item"><a href="{% url 'homepageapp:homepage' %}">Homepage</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard:main_dash' %}">Main Dash</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard:customer_dash' %}">Customers</a></li>
            <li class="breadcrumb-item active">Customer Create</li>
        </ol>
    </nav>
</div>
<div class="container container-fluid my-0">
    <h3> Create a new customer record </h3>
    <div class="card border border-primary my-0">
        <form method="POST" class="card-body my-0">
            {% csrf_token %}

            {% crispy form form.helper %}

            <button type="submit">SUBMIT</button>
        </form>
    </div>

</div>
{% endblock %}