{% extends 'dashboard/00_dashboard_base.html' %}
{% load crispy_forms_tags %}
{% block content-main %}
<div class="container container-fluid">
  <!-- Breadcrumb-->
  <nav class="pt-0" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-dark">
      <li class="breadcrumb-item"><a href="{% url 'homepageapp:homepage' %}">Homepage</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dashboard:main_dash' %}">Main Dash</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dashboard:customer_dash' %}">Customers</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dashboard:customer_detail' pk=object.customer_id %}">Customer
          Detail</a></li>
      <li class="breadcrumb-item active">Update Customer ID: {{object.pk }}</li>
    </ol>
  </nav>
</div>
<div class="container container-fluid my-1" id='customer_create-container'>
  <h3>Update Customer Page</h3>
  <a class="btn btn-outline-dark" href="{% url 'dashboard:customer_detail' pk=object.customer_id %}">Go Back</a>
  <div class="card card-hover border border-50 my-1">

    <form method="post" class="card-body my-1" id='customer_update-container'>
      {% csrf_token %}

      {{form|crispy}}
      <!-- <button class='btn btn-outline-primary' type="submit">Update</button> -->
    </form>
  </div>
</div>
{% endblock %}