{% extends 'dashboard/00_dashboard_base.html' %}
{% load crispy_forms_tags %}
{% block content-main %}

<div class="container-fluid my-1">
  <!-- Breadcrumb-->
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb breadcrumb-dark">
      <li class="breadcrumb-item"><a href="{% url 'homepageapp:homepage' %}">Homepage</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dashboard:main_dash' %}">Main Dash</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dashboard:main_dash' %}">Repair Orders</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dashboard:get_repair_order_detail_v1' pk=repair_order_id %}">Repair
          Order
          {{repair_order_id }}</a></li>
      <li class="breadcrumb-item active">Line Item {{line_item_id}}</li>
    </ol>
  </nav>
  <a class='btn btn-secondary' href="{% url 'dashboard:get_repair_order_detail_v1' pk=repair_order_id %}"><i
      class="fa-solid fa-arrow-left"></i> Go Back</a>
  <h2> Update Line Item {{line_item_id}}</h2>
</div>
<!-- end of container  -->

<!-- form and formset  -->
<div class='container-fluid '>
  <div class="card p-1 my-1">
    <form method="post">
      {% csrf_token %}

      {% comment %}
      <div class="row ">
        <div class='col-3 m-1'>
          <label class="form-label">Item ID: </label>{{ line_item_id}}
        </div>
        <div class='col-9 my-1'>
          {{ line_item.line_item_description.label_tag }}
          <textarea class="form-control" id='line_item_description_input' rows="5" on="trimTextarea()">
                  {{ line_item.line_item_description  }}
                </textarea>
        </div>
      </div>
      {% endcomment %}

      <div class="row">
        {{form|crispy}}
      </div>
      <hr>
      <div class="row">
        {{ formset.management_form |crispy}}
        {% crispy formset.form formset.form.helper %}
      </div>

      {% comment %}
      {{ formset.management_form }}
      {% for selected_form in formset %}
      <div class="row my-1">
        {% for field in selected_form %}
        <div class='col-auto my-1'>
          {{ field |as_crispy_field}}
          <span class="text-danger">{{ field.errors }}</span>
        </div>
        {% endfor %}
      </div>

      {% endfor %}
      {% endcomment %}

      <button type="submit" class="btn btn-outline-primary my-1" value="Save">Save Changes</button>
    </form>

  </div>

</div>
<!-- end of container -->

{% endblock %}