{% extends 'dashboard/00_dashboard_base.html' %}
{% load crispy_forms_tags %}
{% block content-main %}

<div class="container-fluid p-1 my-2">
  <div class="card card-hover border-0 p-2 my-2">
    <h2 class="card-header">Update</h2>

    <div class="card-body p-1 my-2">
      <form method="post">
        {% csrf_token %}
        <!-- line item form  -->
        {% crispy form form.helper %}

        <!-- selected_formset form -->
        {{ selected_formset.management_form }}
        {% for form in selected_formset %}
        <div class="card card-hover border-0 p-2 my-2">
          {% crispy form form.helper %}
        </div>
        {% endfor %}

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
    <!-- end of card-body  -->
  </div>


  {% endblock %}