<!-- formset form used in the LineItemCreateWizardView-->

<div id={{wizard.steps.current}} class="card card-hover border-0 p-2 my-2">

  {% load crispy_forms_tags %}
  {{ wizard.management_form }}


  <h4 class="card-header">
    <!-- this part displays one of the three FormSets that are used in the LineItemCreateWizardView: PartItemFormset, LaborItemFormSet
    and NoteItemFormSet -->
    {{line_item_type}}

  </h4>
  <div class="card-body p-2 my-2">
    <!-- wizard.form.mangement_form -->
    {{ wizard.form.management_form |crispy }}
    <!-- wizard.form.form -->
    {{ wizard.form.form |crispy }}
  </div>



</div>