{% extends 'internal_users/00_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block content-main %}
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                        Account Activation
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Activation Success</h5>
                        <p class="card-text">
                            Congrats! Your account at Amazing Automan is activated successfully. Use the following link to 
                        </p>
                        <a href="{% url 'internal_users:internal_user_login' %}" class="btn btn-primary">Login Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}