{% extends 'internal_users/00_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}   
{% block content-main %}



<script>
    $(document).ready(function () {
            $('.password-eye').click(function () {
                // Find the input field that is a sibling of the .password-eye span
                var input = $(this).closest('.input-group').find('input');

                // Toggle the type attribute of the input field
                if (input.attr('type') === 'password') {
                    input.attr('type', 'text');
                    $(this).addClass('active'); // Add class if you want to change the icon
                } else {
                    input.attr('type', 'password');
                    $(this).removeClass('active'); // Remove class if you want to change the icon back
                }
            });
        });


</script>
<div class="authentication-bg">
    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-lg-8">
                    <div class="card card-hover">
                        <!-- Logo -->
                        <div class="card-header py-4 text-center bg-faded-light">
                            <a href="{% url 'homepageapp:homepage' %}">
                                <img src="{% static 'internal_users/images/logo-174x150.png' %}" alt="logo">
                            </a>
                        </div>
                        <div class="card-body pt-2 m-2">
                            <div class="text-center w-95 m-auto">
                                <h4 class="text-dark-80 text-center pb-0" style="font-family: 'Orbitron', sans-serif;">
                                    Employee Login</h4>
                                <p class="fw-normal mb-4"> Enter your email address and password. First Time employee
                                    will have to register first.</p>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <div class="my-3">
                                    <label class="form-label">{{ form.username.label_tag }}</label>
                                    {{ form.username}}
                                    {% if form.username.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form.username.errors }}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="my-3">
                                    <label class="form-label">{{ form.password.label_tag }}</label>
                                    <a href="{% url 'internal_users:password_reset' %}"
                                        class="fw-bold float-end"><small>Forgot your password?</small></a>
                                    <div class="input-group input-group-merge">
                                        {{ form.password }}
                                        <div class="input-group-text" data-bs-password="true">
                                            <span class="password-eye"></span>
                                        </div>
                                        {% if form.password.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form.password.errors }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="my-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox-signin"
                                            name="remember_me" unchecked>
                                        <label class="form-check-label" for="checkbox-signin"
                                            style="font-family: 'Orbitron',sans-serif; ">Remember me</label>
                                    </div>
                                </div>

                                <div class="mb-3 mb-0 text-center">
                                    <button class="btn btn-outline-dark" type="submit"> Log In </button>
                                </div>

                            </form>
                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-muted">First-time Employee Login? <a
                                    href="{% url 'internal_users:internal_user_register' %}"
                                    class="text-muted ms-1"><b>Sign Up</b></a></p>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end account-pages -->
</div>
<!-- end authentication-bg -->
{% endblock %}