{% extends 'internal_users/00_base.html' %}
{% load static %}
{% block content-main %}

<div class="row">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="col-2">
        <div class="leftside-menu">
            <!-- Sidebar Hover Menu Toggle Button -->
            <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="">
                <i class="ri-checkbox-blank-circle-line align-middle"></i>
            </div>
            <!-- Full Sidebar Menu Close Button -->
            <div class="button-close-fullsidebar">
                <i class="ri-close-fill align-middle"></i>
            </div>
            <div  id="leftside-menu-container" data-simplebar>
                <!--- Sidemenu -->
                <ul class="side-nav">
                    <!-- Leftbar User -->
                    <div class ='container'>
                        <div class="row my-1">
                            <img src="{% static 'homepageapp/img/avatars/avatar_new_02.png' %}" alt="internal-user-image">
                        </div>
                        <div class="row my-1">
                            <h3> {{internal_user.user_first_name}} {{internal_user.user_middle_name}} {{internal_user.user_last_name}} </h3>
                        </div>
                        
                    </div>    
                    <div class="row p-1 m-1">
                        <div class="col">
                            <button class="btn btn-outline-primary"> <a class='nav-link' href="{% url 'dashboard:repair-order-dash' %}">Back to Work Station</a> </button>
                        </div>
                    </div>
                    <li class="side-nav-title">Personal</li>

                    <li class="side-nav-item">
                        <a  href="" class="side-nav-link">
                            <i class="uil-copy-alt"></i>
                            <span> User Info</span>

                        </a>
                        <a href="{% url 'internal_users:employement_info' %}"  class="side-nav-link">
                            <i class="uil-file-lock-alt"></i>
                            <span> Employment Information</span>
                        </a>
                        
                    </li>
                    
                    <hr>

                    <li class="side-nav-title">Settings</li>

                    <li class="side-nav-item">
                        <a  href="{% url 'internal_users:password_change'%}"  class="side-nav-link">
                            <i class="uil-folder-plus"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <!-- end of one side-nav-item -->

                     <li class="side-nav-item">
                        <a  href="{% url 'internal_users:internal_user_logout'%}"  class="side-nav-link">
                            <i class="mdi mdi-logout"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                    <!-- end of one side-nav-item -->
                    <hr>
                </ul>
                <!--- End Sidemenu -->

            </div>
            
        </div>
            <!-- ========== Left Sidebar End ========== -->
    </div>
  


    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
    <div class="col-10">
        <div class="content-page m-1 p-1">
            
            <!-- <div class="content">
                <div class="container-fluid"> -->
                    {% block content-submain %}
                    {% endblock %}
                <!-- </div>
            </div> -->
            <!-- content -->
        </div>
    </div>  
    
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->  
</div>    
{% endblock %}