{% extends 'dashboard/00_dashboard_base.html' %}
{% load humanize %}
{% load core_operations.common_filters %}
{% load static %}
{% block content-main %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0/dist/js/bootstrap.bundle.min.js"></script>

<style>
    .user-image {
        max-width: 80%;
        /* Makes sure the image is not wider than its container */
        height: auto;
        /* Keeps the aspect ratio of the image */
        max-height: 100px;
        /* Adjust the maximum height as needed */

        border-radius: 10%;
        /* Optional: makes the image circular */
    }

    .leftside-menu {
        background-color: #8e431d;
        /* Example background color */
        min-height: 100vh;
    }

    .toggle-sidebar-btn {
        width: 100%;
        margin-bottom: 10px;
        background-color: #007bff;
        /* Example button color */
        color: white;
        border: none;
        text-align: left;
    }

    .toggle-sidebar-btn .ri-menu-line {
        margin-right: 5px;
    }

    #leftside-menu-container {
        background-color: transparent;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        opacity: 1;
        /* Adjusted opacity */
        font-weight: 700;
        transition: all 0.4s ease;
    }

    @media (max-width: 991px) {
        #leftside-menu-container {
            /* Initially hide the sidebar on smaller screens */
            display: none;
        }

        #leftside-menu-container.collapse.show {
            /* Show the sidebar when toggled on smaller screens */
            display: block;
        }
    }

    @media (min-width: 992px) {
        #leftside-menu-container {
            /* Always show the sidebar on larger screens */
            display: block;
        }
    }
</style>
<script>
    //For instance, to automatically close the sidebar when a menu item is clicked, you might add something like this:
    document.querySelectorAll('.leftside-menu .nav-link').forEach(function (element) {
        element.addEventListener('click', function () {
            let sidebar = new bootstrap.Collapse($('#leftside-menu-container'));
            sidebar.hide();
        });
    });

</script>
<!-- <div class="container-fluid"> -->
<div class="row">

    <div class="col-sm-3 col-lg-2">
        <!--leftside-menu-container   -->
        <div class="container" id="leftside-menu-container">
            <!-- Sidebar content here -->
            <div class="simplebar-wrapper" style="margin: 5px;">
                <div class="simplebar-mask ">
                    <div class="simplebar-offset" style="right: 5px; bottom: 5px;">
                        <div class="simplebar-content-wrapper" tabindex="0" role="region"
                            aria-label="scrollable content" style="height: 90%; overflow: hidden scroll;">
                            <div class="simplebar-content" style="padding: 5px;">
                                <!--- Sidemenu -->
                                <ul class="side-nav my-5 pt-5">
                                    <!-- Leftbar User -->
                                    <li class="side-nav-title">Work</li>

                                    <li class="side-nav-item nav-link">
                                        <a href="{% url 'dashboard:main-dash' %}" class="side-nav-link">
                                            <i class="uil-copy-alt"></i>
                                            <span> Main Dash</span>

                                        </a>

                                    </li>
                                    <!-- end of leftbar user  -->


                                    <li class="side-nav-title">Personal</li>

                                    <li class="side-nav-item">
                                        <a href="{% url 'internal_users:internal_user_profile' %}"
                                            class="side-nav-link">
                                            <i class="uil-copy-alt"></i>
                                            <span> User Info</span>

                                        </a>
                                        <a href="{% url 'internal_users:employement_info' %}" class="side-nav-link">
                                            <i class="uil-file-lock-alt"></i>
                                            <span> Employment Information</span>
                                        </a>

                                    </li>

                                    <li class="side-nav-title">Settings</li>

                                    <li class="side-nav-item">
                                        <a href="{% url 'internal_users:password_change'%}" class="side-nav-link">
                                            <i class="uil-folder-plus"></i>
                                            <span>Change Password</span>
                                        </a>
                                    </li>
                                    <!-- end of one side-nav-item -->

                                    <li class="side-nav-item">
                                        <a href="{% url 'shift_management:schedule_shift'%}" class="side-nav-link">
                                            <i class="mdi mdi-logout"></i>
                                            <span>Schedule Shift</span>
                                        </a>
                                    </li>
                                    <!-- end of one side-nav-item -->

                                    <li class="side-nav-item">
                                        <a href="{% url 'internal_users:internal_user_logout'%}" class="side-nav-link">
                                            <i class="mdi mdi-logout"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                    <!-- end of one side-nav-item -->
                                </ul>
                                <!--- End Sidemenu -->

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="simplebar-placeholder" style="width: auto; height: 2017px;"></div>
            </div>
            <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                <div class="simplebar-scrollbar"
                    style="width: 0px; display: none; transform: translate3d(0px, 0px, 0px);"></div>
            </div>
            <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                <div class="simplebar-scrollbar"
                    style="height: 151px; transform: translate3d(0px, 197px, 0px); display: block;"></div>
            </div>
        </div>
        <!-- ========== Left Sidebar End ========== -->
    </div>
    <!-- end of col-2  -->

    <!-- Toggle Button -->
    <div class="m-1 d-lg-none">
        <button class="btn btn-outline-dark " type="button" data-bs-toggle="collapse"
            data-bs-target="#leftside-menu-container" aria-expanded="false" aria-controls="leftside-menu-container">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
    <div class="col">
        <div class="container m-1 p-1">

            <!-- <div class="content">
                <div class="container-fluid"> -->
            {% block content-submain %}
            {% endblock %}
            <!-- </div>
            </div> -->
            <!-- content -->
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
</div>
<!-- </div> -->
{% endblock %}