{% extends 'internal_users/60_internal_user_dashboard.html' %}
{% block content-submain %}
<div class=' container-fluid content'>
  <div class="card card-hover p-2 m-2">
    <h3 calss="card-title p-2 m-2">Personal Information</h3>
    <div class="card-body">
      <div class='row'>
        <div class='col-12 m-1'>
          <h5 class='card-text'>Email {{ talent.talent_email}}</h5><small> This email will be used as your employee
            username
            for company-wide access. Do not share with others.</small>

        </div>
        <div class='col-md-5 m-1'>
          <p class='card-text'>Your Legal Name:{{ talent.talent_full_name }}</p>
        </div>
        <div class='col-md-5 m-1'>
          <p class='card-text'>Phone Number: {{ talent.talent_phone_number_primary }}</p>
        </div>
        <div class='col-md-12 m-1'>
          <p class='card-text'>Physical Address: {{talent.talent_full_physical_address}}</p>
        </div>
        <div class='col-md-12 m-1'>
          {% if talent_mailing_address_is_the_same_physical_address %}
          <input type="checkbox" value='talent_mailing_address_is_the_same_physical_address' disabled> is mailing
          address
          the same?
          <p class='card-text m-1'>Mailing: {{talent.talent_full_mailing_address}}</p>
          {% endif %}
        </div>
        <div class='col-md-9 m-1'>
          <p class='card-text'>Education: {{talent.talent_education_level}}</p>
        </div>
        <div class='col-md-9 m-1'>
          <p class='card-text'>Certifications: {{talent.talent_talent_certifications}}</p>
        </div>
      </div>
    </div>

    <!-- Add more personal information fields -->
  </div>
  <!-- end of first card - personal info -->

  <div class="card card-hover p-2 m-2">
    <h3 class='card-title p-2 m-2'>Employment Information</h3>
    <div class="card-body">
      <div class='row p-2 m-2'>
        <div class='col-md-5 m-1'>
          <p>Employee ID: {{ talent.talent_employee_id }}</p>
        </div>
        <div class='col-md-5 m-1'>
          <p>Pay Type: {{ talent.talent_pay_type}}-{{ talent.get_talent_pay_type_display}}</p>
        </div>
        <div class='col-md-5 m-1'>
          <p>Pay Rate: {{ talent.talent_pay_rate}}</p>
        </div>
        <div class='col-md-5 m-1'>
          <p>Pay Frequency: {{ talent.talent_pay_frequency}}-{{ talent.get_talent_pay_frequency_display}}</p>
        </div>

        <div class='col-md-5 m-1'>
          <p>Department: {{ talent.talent_department}}</p>
        </div>
        <div class='col-md-5 m-1'>
          <p>Supervisor: {{ talent.talent_supervisor}}</p>
        </div>
        <div class='col-md-5 m-1'>
          <p>Hire Date: {{ talent.talent_hire_date|date}}</p>
        </div>
        <div class='col-md-5 m-1'>
          <p>Last Updated at: {{ talent.talent_last_udpated_date|date}}</p>
        </div>
      </div>
    </div>

  </div>
  <!-- end-of-card -->

  <div class="card card-hover p-2 m-2">
    <h3 class='card-title p-1 m-2'>Comments</h3>
    <div class="card-body ">
      <div class='row'>
        <div class='col-md-12 m-1'>
          <p>Remarks from HR <small>(sorted from newest to oldest)</small>:</p>
          <ul>
            {% for remark in hr_remarks_list %}
            <li><strong>{{ remark.date }}:</strong> {{ remark.description }}</li>
            {% endfor %}
          </ul>
        </div>

      </div>
      <!-- </div>end of card-body  -->
    </div>
    <!-- end-of-card -->
  </div>

</div>
{% endblock %}