{% extends 'internal_users/60_internal_user_dashboard.html' %}
{% block content-submain %}
<div class='container-fluid'>

  <div class="card card-hover p-2 m-2">
    <h3 calss="card-header p-2 m-2">User Info</h3>
    <div class="card-body">
      <div class='row'>
        <div class='col-md-12 p1- m-1'>
          <p class='h5'>Email: {{ user.email}}.
          </p><small> This email will be your login username for company-wide
            access. Do not share with others.</small>
        </div>
        <div class='col-md-5 m-1'>
          <p class='card-text'>Name: {{ user }}</p>
        </div>
        <div class='col-md-5 m-1'>
          <p class='card-text'>Last Login: {{user.last_login}}</p>
        </div>
      </div>
      <!-- end of row -->

    </div>
    <!-- end of first card - user info -->
  </div>
</div>


{% endblock %}