{% extends 'talent_management/00_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content-main %}
<div class='container'>
    <div class="row">
        <div class="col">
            <!-- Breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-dark mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'homepageapp:homepage' %}">Homepage</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'dashboard:main_dash' %}">Main Dash</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'talent_management:talent_list' %}">Talents</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </nav>
        </div>

    </div>

    <!-- Display the date and logged in user -->
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col">
            Welcome, {{ user.user_first_name }}. You are logged in as {{user.email}}.
        </div>
        <div class="col">
            <p><strong>Date:</strong> {{ current_time |date}}</p>
        </div>
    </div>
    {% endif %}

    <h3> Create a talent record</h3>
    <div class="card card-hover card-body my-1">

        <form method="post">
            {% csrf_token %}
            <h3 class="card-title">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h3>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
            {{ form |crispy}}
            {% endfor %}
            {% else %}
            {{ wizard.form |crispy}}
            {% endif %}
            <div class="row">
                {% if wizard.steps.prev %}
                <div class="col">
                    <button class="btn btn-outline-secondary" name="wizard_goto_step" type="submit"
                        value="{{ wizard.steps.first }}">{% translate "First" %}</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-info" name="wizard_goto_step" type="submit"
                        value="{{ wizard.steps.prev }}"><i class=" uil-angle-left"> {% translate "Prev." %}</i></button>
                </div>

                {% endif %}
                <div class="col">
                    <button classs='btn btn-outline-primary' type="submit">Next<i class="uil-angle-right"></i></button>
                </div>

            </div>
        </form>

    </div>



</div>

{% endblock %}