{% extends 'talent_management/00_base.html' %}
{% block content-main %}

<div class='container container-fluid'>
    <div class="row my-1">
        <div class="col">
            <!-- Breadcrumb-->
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="{% url 'homepageapp:homepage' %}">Homepage</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'dashboard:main_dash' %}">Main Dash</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'talent_management:talent_list' %}">Talents</a></li>
                    <li class="breadcrumb-item"><a
                            href="{% url 'talent_management:talent_detail' pk=talent.pk %}">Talent
                            ID:{{talent.talent_id}}</a></li>
                    <li class="breadcrumb-item active">Uploaded Docs (up to 5)</li>
                </ol>
            </nav>
        </div>

    </div>
</div>

<div class='container container-fluid'>
    <h2>Uploaded Documents for Talent ID: {{talent.talent_id}}-{{talent.talent_full_name}}</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Document Name</th>
                <th>Uploaded Date</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            <tr>
                <td>
                    <a href="{{ document.talent_employment_docs.url }}" download>{{ document.talent_employment_docs.name
                        }}</a>
                </td>
                <td> {{ document.uploaded_date |date}}
                </td>
                <td>
                    <form method="post"
                        action="{% url 'talent_management:talent_document_delete' document_id=document.document_id %}">
                        {% csrf_token %}
                        <button type="submit"><i class="ri-delete-bin-fill">Delete</i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>


    </table>
</div>
{% endblock %}