
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_operations.common_filters %}
<!DOCTYPE html>
<html lang="en" data-layout="topnav" data-bs-theme="light" data-layout-mode="fluid" data-menu-color="dark" data-topbar-color="light" data-layout-position="fixed" stopthemadness-user-drag="true" stopthemadness-user-select="true" data-sidenav-size="default" stopthemadness-banners="true">

    <head>
        <meta charset="utf-8" />
        <title>Dashboard -- a place where the main work is done. </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="work station that provides dashboard view based on user groups" name="description" />
        <meta content="amazing-automan-llc" name="author" />

        <!-- App favicon -->
        <!-- <link rel="shortcut icon" href="assets/images/favicon.ico"> -->

        <!-- Plugin css -->
        <link rel="stylesheet" href="{% static 'dashboard/vendor/daterangepicker/daterangepicker.css' %}">
        <link href="{% static 'dashboard/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %} " rel="stylesheet" type="text/css">

        <!-- App app-creative css -->
        <link href="{% static 'dashboard/css/app-creative.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />

        <!-- Icons css -->
        <link href="{% static 'dashboard/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
       
        <!-- Theme Config Js -->
       <script src="{% static 'dashboard/js/hyper-config.js' %}"></script>        

        <!-- Datatables css -->
        <!-- <link href="{% static 'dashboard/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'dashboard/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" /> -->
        
        <!-- font-awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!-- boostrap 5.2.3 css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> 
        
        {% comment %}
        <!-- App js -->
        <script src="{% static 'dashboard/js/app.min.js' %}"></script>
        {% endcomment %}
        <!-- Vendor js -->
        <script src="{% static 'dashboard/js/vendor.min.js' %}"></script>
        <!-- Daterangepicker js -->
        <script src="{% static 'dashboard/vendor/daterangepicker/moment.min.js' %}"></script>
        <script src="{% static 'dashboard/vendor/daterangepicker/daterangepicker.js' %}"></script>
        
        <!-- Apex Charts js -->
        <script src="{% static 'dashboard/vendor/apexcharts/apexcharts.min.js' %}"></script>

        <!-- Vector Map js -->
        <script src="{% static 'dashboard/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
        <script src="{% static 'dashboard/vendor/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>

        <!-- Dashboard App js -->
        <script src="{% static 'dashboard/js/pages/demo.dashboard.js' %}"></script>
       
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>


        {% include 'dashboard/01_additional_css_style.html' %}
    </head>

    <body>
        <!-- Begin page -->
        <div class="wrapper">

            {% include 'dashboard/03_dashboard_navbar_sector.html' %}
            {% comment %}
            <!-- ========== Topbar Start ========== -->   
            <div class="navbar-custom">
                <div class="topbar container-fluid">
                    <div class="d-flex align-items-center gap-lg-2 gap-1">
                        <!-- Topbar Brand Logo -->
                        <div class="logo-topbar">
                            <!-- Logo light -->
                            <a href="{% url 'homepageapp:homepage' %} " class="logo-light">
                                <!-- <span class="logo-lg"> -->
                                    <img src="{% static 'dashboard/images/logo-2022.svg' %}" width="80" alt="logo">
                                <!-- </span> -->
                                <!-- <span class="logo-sm">
                                    <img src="assets/images/logo-sm.png" alt="small logo">
                                </span> -->
                            </a>
                        </div>

                        <!-- Sidebar Menu Toggle Button -->
                        <button class="button-toggle-menu">
                            <i class="mdi mdi-menu"></i>
                        </button>  
                    </div>
                    <!-- end of d-flex  -->

                    <ul class="topbar-menu d-flex align-items-center gap-3">
                        <li class="dropdown">
                            {% if user.is_authenticated %}
                            <a class="nav-link dropdown-toggle arrow-none nav-user px-2" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img src="{% static 'dashboard/images/users/avatar-1.jpg' %}" alt="user-image" width="32" class="rounded-circle">
                                </span>
                                
                                <span class="d-lg-flex flex-column gap-1 d-none">
                                    <p class="my-0 fw-normal">Hi {{user.user_first_name}} (Email: {{user.email |truncatechars:15}})</p>
                                    <h6 class="my-0 fw-normal">Auth Group: {{user.user_auth_group}}</h6>
                                </span>
                                
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown">

                                <!-- item-->
                                <a href="{% url 'internal_users:internal_user_dashboard' %}" class="dropdown-item">
                                    <i class="mdi mdi-account-circle me-1"></i>
                                    <span>My Profile - Employee Info</span>
                                </a>

                                <!-- item-->
                                <a href="{% url 'internal_users:internal_user_logout' %}" class="dropdown-item">
                                    <i class="mdi mdi-logout me-1"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                                {% else %}
                                <span class="d-lg-flex flex-column gap-1 d-none">
                                    <h5 class="my-0">NO INFORMATION</h5>
                                    <h6 class="my-0 fw-normal">No internal user logged in.</h6>
                                </span>

                            {% endif %}
                        </li>
                    </ul>
                </div>
                <!-- end of topbar container-fluid -->
            </div>
            <!-- ========== Topbar End ========== -->
            {% endcomment %}
        </div>
        <!-- end of wrapper -->
        {% block content-main %}
        <h1>this is the main content block.</h1>
        {% endblock %}
    </body>
    
                                                        
    <!-- Datatables js -->
    <script src="{% static 'dashboard/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>

    <!-- Datatable Init js -->
    <script src="{% static 'dashboard/js/pages/demo.datatable-init.js' %}"></script>
    
    <!-- Vendor js -->
    <script src="{% static 'dashboard/js/vendor.min.js' %}"></script>
    <!-- Daterangepicker js -->
    <script src="{% static 'dashboard/vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/daterangepicker/daterangepicker.js' %}"></script>
    
    <!-- Apex Charts js -->
    <script src="{% static 'dashboard/vendor/apexcharts/apexcharts.min.js' %}"></script>

    <!-- Vector Map js -->
    <script src="{% static 'dashboard/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>

    <!-- Dashboard App js -->
    <!-- <script src="{% static 'dashboard/js/pages/demo.dashboard.js' %}"></script> -->
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <!-- Popper Js 2.9 and bootstrap JS 5.3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js" integrity="sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html> 