{% extends 'dashboard/00_dashboard_base.html' %}

{% block content-main %}
<div class="container">
  <!-- Breadcrumb-->
  <nav aria-label="Breadcrumb">
      <ol class="breadcrumb breadcrumb-dark mb-0">
          <li class="breadcrumb-item"><a href="{% url 'homepageapp:homepage' %}">Homepage</a></li>
          <li class="breadcrumb-item active"><a href="{% url 'dashboard:main-dash' %}">Main Dash</a></li>
      </ol>
  </nav>
</div>

<div class="container ">
  <h2>Main Dashboard</h2>
  <!-- Display the date and logged in user -->
  <div class="row">
    <div class="col">
      Welcome. {{ user.user_first_name }}. Logged in as {{user.email}}
      
    </div>
    <div class="col">
        <p><strong>Date:</strong> {{ current_time |date}}</p>
    </div>
  </div>
</div>
<!-- The main content with 6 app portals -->
<div class="container my-1">
  <div class="row text-center">
    <!-- Each col represents a portal -->
    <div class="col-md-4 col-lg-3 mb-4">
      <div class="card rounded">
        <a href="{% url 'dashboard:wip-dash' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
        Work Station Dash
      </div>
    </div>

    <div class="col-md-4 col-lg-3 mb-4">
      <div class="card rounded">
        <a href="{% url 'dashboard:vehicle-dash' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
        Vehicles
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-4">
      <div class="card rounded">
        <a href="{% url 'dashboard:customer-dash' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
        customers
      </div>
    </div>

    <div class="col-md-4 col-lg-3 mb-4">
      <div class="card rounded">
        <a href="{% url 'dashboard:vehicle-dash' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
        this is the third app. Vehicle
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-4">
      <div class="card rounded">
        <a href="{% url 'dashboard:vehicle-dash' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
        Number Four
      </div>
    </div>

    <div class="col-md-4 col-lg-3 mb-4">
      <div class="card rounded">
        <a href="{% url 'dashboard:vehicle-dash' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
        Number Five
      </div>
    </div>



  </div>
</div>

{% endblock %}
