{% extends 'dashboard/00_dashboard_base.html' %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% block content-main %}
<div class="container container-fluid">
  <!-- Breadcrumb-->
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-dark mb-0">
          <li class="breadcrumb-item"><a href="{% url 'homepageapp:homepage' %}">Homepage</a></li>
          <li class="breadcrumb-item active">Main Dash</li>
      </ol>
  </nav>
</div>

<div class="container container-fluid">
  <h2>Main Dashboard</h2>
  <!-- Display the date and logged in user -->
  <div class="row">
    <div class="col">
      Welcome. {{ user.user_first_name }}. Logged in as {{user.email}}
    </div>
    <div class="col">
        <p>Today is: {{ current_time |date}}</p>
    </div>
  </div>
</div>
<!-- The main content with 6 app portals -->
<div class="container container-fluid ">
  
  <div class="row my-1 px-1">

    <!-- Each col represents a portal -->

    <!-- <div class="col col-md-3 col-lg-2 mb-0"> -->
    <div class="col col-md-3 col-lg-2 mb-0">
      <div class="card rounded">
        <a href="{% url 'dashboard:repair-order-dash' %}">
          <img src="" class="card-img-top rounded" alt="...">
        </a>
        <div class="card-body">
          <p>1. Repair Orders</p>
        </div>
      </div>
    </div>
    <!-- end of column  -->

    <div class="col col-md-3 col-lg-2 mb-0">
      <div class="card widget-flat">
        <a href="{% url 'dashboard:vehicle-dash' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
          <div class="card-body">2. Vehicles</div>
        
      </div>
    </div>

    <div class="col col-md-3 col-lg-2 mb-0">
      <div class="card widget-flat">
        <a href="{% url 'dashboard:customer-dash' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
        <div class="card-body"><p>3. Customers</p></div>
        
      </div>
    </div>

    <div class="col col-md-3 col-lg-2 mb-0">
      <div class="card ">
        <a href="{% url 'appointments:appointment_list' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
            <div class="card-body">4. Appointments</div>

      </div>
    </div>
  </div>
  <!-- end of row  -->

  <div class="row"> 
    <div class="col col-md-3 col-lg-2 mb-0">
      <div class="card">
        <a href="{% url 'talent_management:talent_list' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
        
          <div class="card-body">5. Talent Managements</div>
      </div>
    </div>

    <div class="col col-md-3 col-lg-2 mb-0">
      <div class="card card-rounded">
        <a href="{% url 'dashboard:vehicle-dash' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
                  <div class="card-body">6. Payments</div>
        
      </div>
    </div>

    <div class="col col-md-3 col-lg-2 mb-0">
      <div class="card card-rounded">
        <a href="{% url 'dashboard:vehicle-dash' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
        
          <div class="card-body">7. Accounting and Finance</div>
      </div>
    </div>

    <div class="col col-md-3 col-lg-2 mb-0">
      <div class="card widget-flat">
        <a href="{% url 'dashboard:vehicle-dash' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
        
          <div class="card-body">8. User Management and IT</div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
