{% extends 'dashboard/00_dashboard_base.html' %}

{% block content-main %}
<div class="container">
  <h1>Welcome. {{ user.user_first_name }}. Logged in as {{user.email}}</h1>
  <!-- Display the date and logged in user -->
  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <p><strong>Date:</strong> {{ current_date }}</p>
      </div>
      <div class="col">
        <p><strong>User:</strong> </p>
      </div>
    </div>
  </div>

  <a class =' btn btn-primary' href = "{% url 'homepageapp:homepage' %}">go back to Homepage</a>
</div>

<!-- The main content with 6 app portals -->
<div class="container">
  <div class="row text-center">
    <!-- Each col represents a portal -->
    <div class="col-md-4 col-lg-2 mb-4">
      <div class="card rounded">
        <a href="{% url 'dashboard:dashboard-v2' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
      </div>
    </div>

    <div class="col-md-4 col-lg-2 mb-4">
      <div class="card rounded">
        <a href="{% url 'dashboard:vehicle-dash' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
        WIP dashboard
      </div>
    </div>
    <div class="col-md-4 col-lg-2 mb-4">
      <div class="card rounded">
        <a href="{% url 'dashboard:customer-dash' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
        customer
      </div>
    </div>

    <div class="col-md-4 col-lg-2 mb-4">
      <div class="card rounded">
        <a href="{% url 'dashboard:vehicle-dash' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
        this is the third app
      </div>
    </div>
    <div class="col-md-4 col-lg-2 mb-4">
      <div class="card rounded">
        <a href="{% url 'dashboard:vehicle-dash' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
      </div>
    </div>
    <div class="col-md-4 col-lg-2 mb-4">
      <div class="card rounded">
        <a href="{% url 'dashboard:vehicle-dash' %}">
          <img src="" class="card-img-top" alt="...">
        </a>
      </div>
    </div>


    <!-- Add more portals similarly -->

  </div>
</div>

{% endblock %}
