{% extends 'dashboard/00_dashboard_base.html' %}
{% load humanize %}

{% block content-main %}

  <div class="container container-fluid mb-0">
    <!-- Breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-dark mb-0">
            <li class="breadcrumb-item"><a href="{% url 'homepageapp:homepage' %}">Homepage</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard:main-dash' %}">Main Dash</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'dashboard:wip-dash' %}">Work Orders</a></li>
        </ol>
    </nav>

        <!-- Display the date and logged in user -->
        <div class="row">
          <div class="col">
           Welcome, {{ user.user_first_name }}. You are logged in as {{user.email}}
          </div>
          <div class="col">
              <p><strong>Date:</strong> {{ current_time |date}}</p>
          </div>
        </div>
  </div>
  <!-- end of container  -->
  
  <div class="container container-fluid mb-0">
        <h2>Work Orders In Progress (WIP)</h2>

      <div class='row'>
        <div class="col-12 btn-group my-1">
          <a type="button" class="btn btn-outline-dark" href="{% url 'dashboard:search' %}"> <i class="uil-focus-add"></i> New Repair Order</a>
          <a type="button" class="btn btn-outline-dark" href="{% url 'dashboard:customer-dash' %}"><i class ='uil-users-alt' ></i> Go to Customer Dash</a>
          <a type="button" class="btn btn-outline-dark" href="{% url 'dashboard:vehicle-dash' %}"> <i class=" uil-car-sideview"></i> Go to Vehicle Dash</a>
          <a type="button" class="btn btn-outline-dark" href="{% url 'appointments:appointment_list' %}"> <i class="uil-calendar-alt"></i> Go to Appointment Dash</a>
          <a type="button" class="btn btn-outline-dark">Go to Vehicle Dash</a>
        </div>
      </div>

  </div>
  <!-- end of container -->
  
  <div class = 'container container-fluid'>
    <form method="post">
      {% csrf_token %}
      <table class ='table table-light table-hover table-centered'>
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Order Status</th>
            <th>Customer Name </th>
            <th>Phone Nbr </th>
            <th>Email Addresses</th>
            <th>Customer Address</th>
            <th>Updated Date</th>
          </tr>
        </thead>
        <tbody>
          {% for repair_order in repair_orders %}
          <tr>
            <td><a href="{% url 'dashboard:dashboard-detail' pk=repair_order.repair_order_id %}">{{ repair_order.repair_order_id }}</a></td>
            <td>{{repair_order.repair_order_phase.repair_order_phase_description }}</td>
            <!-- <td>repair_order.repair_order_customer.customer_id </td> -->
            <td>{{ repair_order.repair_order_customer.customer_first_name }} {{ repair_order.repair_order_customer.customer_last_name }}</td>

            <td>
              {% for phone in repair_order.repair_order_customer.phones.all %}
                <p>{{phone.phone_desc.phone_desc}}: {{phone.phone_number|phone2numeric }}</p>
              {% endfor %}
            </td>

            <td>
              {% for email in repair_order.repair_order_customer.emails.all %}
                {{email.email_address|truncatechars:30 }}
              {% endfor %}
            </td>

            <td>
              {% for address in repair_order.repair_order_customer.addresses.all %}
              {{ address.address_line_01 }}, {{ address.address_city }}, {{ address.address_state }} {{ address.address_zip_code }}<br>
              {% endfor %}
            </td>
            <td>
              {{repair_order.repair_order_last_updated_date |date:"Y-m-d" }}
            </td>
          </tr>
          {% empty %}
          <p>There are no results found.</p>

          {% endfor %}
        </tbody>
      </table>
    </form>
  </div>
{% endblock %}
