{% extends 'dashboard/00_dashboard_base.html' %}

{% block content-main %}
  <h1>Repair Order Detail v3 -- using 'DetailView' class</h1>

 <div class="row">
  <div class = 'container'>
  <a href="{% url 'dashboard:dashboard-v2' %}" class="btn btn-outline-primary">Go back to Dashboard</a>
 </div> 
</div>
<!-- repair_order_detail.html -->
<div class = 'container'>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <h2 class="card-header" >Repair Order Detail</h2>
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <ul class="list-group">
            <li class="list-group-item">repair order ID: {{repair_order.repair_order_id }}</li>
            <li class="list-group-item">created_as_estimate: {{repair_order.repair_order_created_as_estimate}}</li>
            <li class="list-group-item">repair order posted at: {{repair_order.repair_order_posted_datetime }}</li>
            <li class="list-group-item">vehicle_odometer_in: {{repair_order.repair_order_serviced_vehicle_odometer_ins}}</li>
            <li class="list-group-item">last_updated_date: {{repair_order.repair_order_last_updated_at}}</li>   
          </ul>
          <p><a href="{% url 'dashboard:repair-order-update' pk=repair_order.repair_order_id %}" class="btn btn-primary">Edit</a></p>
        </div>
      </div>
    </div>
</div>


  <div class="col-md-6">
    <div class="card" >
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <h2 class="card-header">Customer Detail</h2>
      <div class="card-body">
        <p class="card-text">show some quick statics, including counts, average RO and total spending.</p>
      </div>
      <ul class="list-group ">
        <li class="list-group-item">customer_id: {{ repair_order.repair_order_customer.customer_id }}</li>
        <li class="list-group-item">{{ repair_order.repair_order_customer.customer_first_name }} {{ repair_order.repair_order_customer.customer_last_name }}</li>
        <li class="list-group-item">first_visit_date: {{ repair_order.repair_order_customer.customer_first_visit_date}}</li>
        <li class="list-group-item">last_visit_date: {{ repair_order.repair_order_customer.customer_last_visit_date}}</li>     
      
      </ul>
    </div>
  </div>


  <div class="col-md-6">
    <div class="card">
      <h2 class="card-header">Customer Addresses</h2>
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->

      <div class="card-body">
        {% for address in repair_order.repair_order_customer.addresses.all %}
        <p class="card-text">the address is updated on xxx. GoogleMap verification function pending</p>
        <p> Address Information:</p>
        <ul class="list-group">
          <li class="list-group-item">street: {{ address.address_line_01 }},</li>
          <li class="list-group-item">city, state zip: {{ address.address_city }}, {{ address.address_state }} {{ address.address_zip_code }}</li>
        </ul>
        {% empty %}
        <p> no address information available.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}