{% extends 'dashboard/00_dashboard_base.html' %}

{% block content-main %}


{% if messages %}
<div class="container">
    {% for message in messages %}
    <li{% if message.tags %}
        class="alert alert-{{ message.tags }} alert-dismissible fade show justify-content-center justify-content-between"
        {% endif %} role="alert">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </li>
        {% endfor %}
</div>
{% endif %}

<div class="container container-fluid " id='customer-detail-container'>
    <!-- Breadcrumb-->
    <nav class="pt-0" aria-label="Breadcrumb">
        <ol class="breadcrumb breadcrumb-dark">
            <li class="breadcrumb-item"><a href="{% url 'homepageapp:homepage' %}">Homepage</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard:main_dash' %}">Main Dash</a></li>
            <li class="breadcrumb-item active"><a
                    href="{% url 'dashboard:customer-detail' pk=customer.customer_id %}">Customer Detail</a></li>
        </ol>
    </nav>
    <h4>Customer Detail V2 - ID:{{customer.customer_id}}</h4>
    <p> using inlineformset_factory to link child models to parent models</p>
    <div class='row'>
        <div class='col-4'>
            <div class="card card-hover border border-light">
                <div class='card-header text-dark mb-0'>ID:{{customer.customer_id}}. customer since
                    {{customer.customer_first_visit_date|date:'Y-m-d'}} <p class="text-muted font-13">Updated at:
                        {{customer.customer_last_updated_at}}</p>
                </div>
                <div class='card-body text-dark'>
                    <div class="row">
                        <p class="col-6 card-text"> First Name: {{customer.customer_first_name}} </p>
                        <p class="col-6 card-text" style="font-weight: bold; text-transform: uppercase;"> Last Name:
                            {{customer.customer_last_name}} </p>
                        <p class="col-6 card-text"> Spouse Name: {{customer.customer_spouse_name}} </p>
                        <p class='col-6 card-text'> Memo: {{customer.customer_memo_1}} </p>
                        <p class='col-6 card-text'> Okay to Charge: {{customer.customer_is_okay_to_charge}}</p>
                        <p class='col-6 card-text'>is in Social CRM: {{customer.customer_is_in_social_crm}}</p>
                        <div class="form-check form-switch">
                            <input type="checkbox" id="switch01" class="switch-input" {% if
                                customer.customer_is_in_social_crm %}checked{% endif %}>
                            <label for="switch01" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                        </div>


                    </div>

                    <p class='card-text'>Last visit on: {{customer.customer_last_visit_date}} </p>
                    <a href="{% url 'dashboard:customer_update' customer.customer_id %}"
                        class="btn btn-outline-info">Update</a>
                </div>
            </div>
        </div>
        <div class='col-4'>
            <div class="card card-hover border border-light card-h-100">
                <div class='card-header text-dark fw-bold '>Emails</div>
                <div class='card-body text-dark'>
                    {% for email_form in email_forms %}
                    <form class="email-form" id="customer-email-update-form"
                        data-email-id="{{ form.instance.email_id }}"
                        action="{% url 'dashboard:update_customer_email' email_id=email_form.instance.email_id %}">
                        {% csrf_token %}

                        <div class="form-display">
                            <div class="row">
                                <div class="col-3">ID: {{ email_form.email_id.value }} </div>
                                <div class="col-3">Type: {{ email_form.email_type_id.value }} </div>
                                <div class="col-3">{{ email_form.email_address.value |lower}} </div>
                                <div class="col-3">{{ email_form.email_description.value}} </div>
                                <div class="col-2"><button class="btn btn-outline-info edit-button mb-1"
                                        type="button">Edit</button> </div>
                            </div>
                        </div>

                        <div class="form-edit" style="display:none;">

                            <p>{{ email_form.email_type_id }}</p>
                            <p>{{ email_form.email_address }}</p>
                            <p>{{ email_form.email_description }}</p>
                            <button class="btn btn-outline-primary save-email-button" type="submit">Save</button>
                        </div>

                    </form>
                    <!-- end of one email_form  -->
                    {% empty %}
                    no email and email form found.
                    {% endfor %}

                    <script>
                        $().ready(function () {
                            $('.edit-button').on("click", function () {
                                // e.preventDefault();
                                const formRow = $(this).closest('.email-form');
                                const form = $(this).closest('form')
                                formRow.find('.form-display').hide();
                                formRow.find('.form-edit').show();
                                $(this).hide(); // hide edit button

                                form.find('.save-email-button').show() // show save button
                                //loop through form fields to make them editable

                                form.find('input, select').each(function () {
                                    $(this).prop('readonly', false)

                                });
                                // change background or add other visual cues for editbale fields 
                                form.find('.editable-field').addClass('editing')

                            });

                            $('.save-email-button').on("click", function (e) {
                                e.preventDefault();

                                const form = $(this).closest('.email-form');
                                form.submit();

                                // const formRow = $(this).closest('.email-row');
                                // const emailId = formRow.data('email-id');
                                // const formData = formRow.serialize();
                                // $.ajax({
                                //     type: 'POST',
                                //     url: '/update_email/',  // your update URL
                                //     data: {email_id: emailId, ...formData},
                                //     success: function(response) {
                                //     // handle success
                                //     formRow.find('.form-edit').hide();
                                //     formRow.find('.form-display').show();
                                //     },
                                //     error: function(response) {
                                //     // handle error
                                //     }
                                // });                        

                            });
                        });
                    </script>



                </div>
            </div>
        </div>
        <div class='col-4'>
            <div class="card card-hover border border-light">
                <div class='card-header text-dark mb-1'>Your Phone numbers</div>
                <div class='card-body text-dark'>
                    <div class="row">
                        {% for phone in customer.phones.all %}
                        <div class="col-6">
                            <p class="editable" contenteditable="false">Phone Number: {{ phone.phone_number }}</p>
                        </div>

                        <p class="editable col-6" contenteditable="false">Ext: {{ phone.phone_number_ext }}</p>
                        <p class="editable col-6" contenteditable="false">Memo {{ phone.phone_memo_01 }}</p>
                        {% endfor %}
                        <button class="btn btn-outline-info update-phone-btn mb-1">Update</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- end of column  -->
        <script>
            $(document).ready(function () {
                $(".update-phone-btn").click(function () {
                    var parentCardBody = $(this).closest('.card-body');
                    var editables = parentCardBody.find('.editable');
                    editables.each(function () {
                        var isEditable = $(this).attr('contenteditable');
                        if (isEditable == 'false') {
                            $(this).attr('contenteditable', 'true');
                        } else {
                            $(this).attr('contenteditable', 'false');
                        }
                    });
                });
            });

        </script>



    </div>
    <!-- end of row  -->
    <div class="row">
        <div class="col-12">
            <div class="card card-hover border border-light">
                <div class='card-header text-dark fw-bold'>Vehicles</div>
                <div class='card-body text-dark'>
                    <div class="row">
                        <table id="basic-datatable" class="table table-sm dt-responsive nowrap">
                            <thread>
                                <tr>
                                    <th>#</th>
                                    <th>VIN</th>
                                    <th>year</th>
                                    <th>make</th>
                                    <th>Action</th>
                                </tr>
                            </thread>
                            <tbody>

                                {% for vehicle in customer.vehicle_customers.all %}
                                <tr>
                                    <td>{{vehicle.vehicle_id}}</td>
                                    <td>{{vehicle.VIN_number}}</td>
                                    <td>{{vehicle.vehicle_year}}</td>
                                    <td>{{vehicle.vehicle_make.maker_name}}</td>
                                    <td class="table-action"><a class="action-icon">
                                            <a class='btn'
                                                href="{% url 'dashboard:customer_update' customer.customer_id %}"><i
                                                    class="uil uil-edit"></i></a><a><i
                                                    class="uil uil-trash-alt"></i></a>
                                    </td>
                                </tr>
                                {% empty %}
                                No vehicle found.
                            </tbody>

                            {% endfor %}
                        </table>
                    </div>
                    <a href=class="btn btn-outline-info">Vehicle Update</a>
                </div>
            </div>
        </div>
        <!-- end of column -->
        <div class="col-12">
            <div class="card card-hover border border-light">
                <div class='card-header text-dark'>Addresses </div>
                <div class='card-body text-dark'>
                    <div class="row">
                        <p class="col-6 card-text"> First Name: {{customer.customer_first_name}}</p>
                        <p class="col-6 card-text" style="font-weight: bold; text-transform: uppercase;"> Last Name:
                            {{customer.customer_last_name}} </p>
                        <p class="col-6 card-text"> Spouse Name: {{customer.customer_spouse_name}} </p>
                        <p class="col-6 card-text"> DOB: {{customer.customer_date_of_birth}} </p>
                        <p class='col-6 '> Memo: {{customer.customer_memo_1}} </p>
                        <p class='col-6 '> Okay to Charge: {{customer.customer_is_okay_to_charge}} </p>
                        <p class='col-6 card-text'>is in Social CRM: {{customer.customer_is_in_social_crm}}</p>
                    </div>

                    <p class='card-text'>Last visit on: {{customer.customer_last_visit_date}} </p>
                    <p class='card-text small'> Updated at: {{customer.customer_last_updated_at}}</p>
                    <a href="{% url 'dashboard:customer_update' customer.customer_id %}"
                        class="btn btn-outline-info">Update</a>
                </div>
            </div>
        </div>
        <!-- end of column -->

    </div>
    <!-- end of row  -->
</div>

<br>

{% endblock %}