{% extends 'dashboard/00_dashboard_base.html' %}
{% load static %}
{% block content-main %}


<div class="container container-fluid">
    <!-- Breadcrumb-->
    <nav aria-label="Breadcrumb">
        <ol class="breadcrumb breadcrumb-dark">
            <li class="breadcrumb-item"><a href="{% url 'homepageapp:homepage' %}">Homepage</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard:main-dash' %}">Main Dash</a></li>
            <li class="breadcrumb-item active">Vehicles</li>
        </ol>
    </nav>
</div>

{% if messages %}
<div class="container container-fluid ">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show justify-content-center justify-content-between"{% endif %} role="alert">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</div>
{% endif %}

<div class="container container-fluid my-1">
    <div class="row">
    <h2>Vehicles </h2> <p class="title small">Today is {{current_time|date}} </p>
    </div>


    <div class='row'>
      <div class=" btn-group my-1">
        <a type="button" class="btn btn-outline-dark" href="{% url 'dashboard:vehicle-dash' %}"> <i class="uil-home-alt"></i>Main Vehicle Dash</a>
        <a type="button" class="btn btn-outline-dark" href="{% url 'dashboard:vehicle-create' %}"><i class ='uil-file-plus-alt' ></i>Create Vehicle Record</a>
        <a type="button" class="btn btn-outline-dark" href="{% url 'dashboard:fetch-single-vin-search-nhtsa-api' %}"><i class ='mid mdi-barcode' ></i>Vin Search Form</a>
      </div>
    </div>
    <!-- end of an row of function buttons -->
{% if page_obj %}
    <table class="table table-light table-hover mb-0">
        <thead>
            <tr>
                <th>ID</th>
                <th>VIN number</th>
                <th>License plate</th>
                <th>State</th>
                <th>Customer</th>
                <th>Vehicle Info</th>      
                <th>Updated at</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in page_obj %}
                <tr>
                    <td><a href ="{% url 'dashboard:vehicle-detail' pk=vehicle.vehicle_id %} ">{{vehicle.vehicle_id}}</a></td>
                    <td>{{vehicle.VIN_number}}</td>
                    <td>{{vehicle.vehicle_license_plate_nbr}}</td>
                    <td>{{vehicle.vehicle_license_state}}</td>

                    <td>
                        
                        {{vehicle.vehicle_cust.get_customer_full_name|truncatechars:30 }}
                       
                    </td>
                    <td >
                         {{vehicle.vehicle_year}}_{{vehicle.vehicle_make.make_name}}_{{vehicle.vehicle_sub_model.submodel_name}}_{{vehicle.vehicle_body_style.body_style_name}}_{{vehicle.vehicle_engine.engine_number_of_liter}}_{{vehicle.vehicle_tranmission.transmission_type}}
                    </td>

                    <td>{{ vehicle.vehicle_last_updated_at }}</td>
                    <td class="table-action"><a class="action-icon"><i class="uil uil-edit"></i></a><a><i class="uil uil-trash-alt"></i></a></td>
                    
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No vehicle record found.</td>
                </tr>
                {% endfor %} 
        </tbody>
    </table>

</div>
<div class ='row'>
    <div class = 'col-12'>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    {% if page_obj.has_previous %}
                        <a class="page-link" href="?page=1">
                            <span class= 'step-links' aria-hidden="True">&laquo; First (1) </span>
                        </a>
                </li>
                <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"  tabindex="-1" >
                            <span class= 'step-links' >Previous ({{ page_obj.previous_page_number }})</span>
                        </a>
                    {% endif %}
                </li>
                <li class ="page-item active">
                    <a class="page-link" href="?page={{ page_obj.number }}">
                        <span>
                            Current ({{ page_obj.number }})
                        </span>
                    </a>
                </li>
                <li class="page-item">
                    {% if page_obj.has_next %}
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span>Next ({{ page_obj.next_page_number }})</span>
                        </a>
                </li>
                <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                            <span aria-hidden="true" >Last ({{ page_obj.paginator.num_pages }}) &raquo;</span>
                        </a>
                    {% endif %}
        
                </li>
            </ul>
  
    </div>
</div>

    {% else %}
    <p>There are no matched customers found here.</p>
    {% endif %}
        
{% endblock %}