{% extends 'dashboard/00_dashboard_base.html' %}

{% block content-main %}

{% if messages %}
<div class="container container-fluid">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show justify-content-center justify-content-between"{% endif %} role="alert">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</div>
{% endif %}

<div class="container container-fluid " id ='vehicle-detail-container'>
    <!-- Breadcrumb-->
    <nav  aria-label="Breadcrumb">
        <ol class="breadcrumb breadcrumb-dark mb-0">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard-v2' %}">Dashboard</a></li>
            <li class="breadcrumb-item "><a href="{% url 'dashboard:vehicle-dash' %}">Vehicles</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'dashboard:vehicle-detail' pk=vehicle.vehicle_id %}">Vehicle Detail</a></li>
        </ol>
    </nav>

    <h4>Detail - ID:{{vehcile.vehicle_id}}</h4>
    <div class = 'row'>
        <div class ='col col-12'>
            <div class="card card-hover border border-light" >
                <div class ='card-header text-dark'>Vehicle ID:{{vehicle.vehicle_id}}. Last recorded Odometer: {{vehicle.vehicle_odometer_1}}  </div>
                <div class = 'card-body text-dark'>
                    <p class="card-text"> VIN: {{vehicle.VIN_number}} </p>
                    <p class="card-text"> License Plate: {{vehicle.vehicle_license_plate_nbr}}. State: {{vehicle.vehicle_license_state}}</p>
                    <p class="card-text"> Vehicle Info:  {{vehicle.vehicle_year}} {{vehicle.vehicle_make.make_name}} {{vehicle.vehicle_sub_model.submodel_name}}. Bodystyle: {{vehicle.vehicle_body_style.body_style_name}}. Brakes: {{vehicle.vehicle_brake.brake_system_type}}. Weight: {{vehicle.vehicle_GVW.gvw_text}} </p>            
                    <p class ='card-text'>Engine hours In: {{vehicle.vehicle_engine_hour_in}}</p>
                    <p class ='card-text'>Customer First Name: {{vehicle.vehicle_cust.customer_first_name}}</p>

                    
                    <p class ='card-text'>Last visit on: {{vehicle.vehicle_last_in_date}} </p>
                     <p class ='card-text'> Memo: {{vehicle.vehicle_memo_1}} </p>                   
                    <p class ='card-text small'> Updated on: {{vehicle.vehicle_last_updated_datetime}}</p>
                    <a href="{% url 'dashboard:customer-update' pk=vehicle.vehicle_id %}" class="btn btn-outline-info">Update</a>
                </div>
            </div>
        </div>

    </div>
</div>

<br>

{% endblock %}