{% extends 'dashboard/00_dashboard_base.html' %}
{% load humanize %}
{% load core_operations.common_filters %}
{% load crispy_forms_tags %}

{% block content-main %}
<div class="container container-fluid my-1">
    <!-- Breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-dark">
            <li class="breadcrumb-item"><a href="{% url 'homepageapp:homepage' %}">Homepage</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard:main-dash' %}">Main Dash</a></li>
            <li class="breadcrumb-item "><a href="{% url 'dashboard:vehicle-dash' %}">Vehicles</a></li>
            <li class="breadcrumb-item active" area-current="page">Plate Search</li>
        </ol>
    </nav>
</div>

  {% include 'dashboard/02_dashboard_messages_sector.html' %}

<div class="container container-fluid my-1">
  <h3>Plate Search </h3>

  <!-- <a class="btn btn-outline-dark" id="go-back-btn" >Go Back</a> -->

  <div class="card card-hover border border-primary my-1">
      <form method="post">
          {% csrf_token %}
          {{ form|crispy}}
          <input type="submit" value="Search">
      </form>


  </div>

    <div class="card card-hover border border-secondary my-1">
        {% if plate_data_list %}
        <p>Total Results Found: {{ count }}</p>
        <table class=" table table-light my-1">
            <thead>
                <tr>
                    <th>Variable ID</th>
                    <th>Variable Name</th>
                    <th>Value</th>
                    <th>ValueID</th>
                </tr>
            </thead>
            <tbody>
                {% for item in vin_data_list %}
                <tr>
                    <td>{{ item.variable_id }}</td>
                    <td>{{ item.variable_name }}</td>
                    <td>{{ item.value }}</td>
                    <td>{{ item.value_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        {% endif %}
    </div>
</div>
<!-- end of container  -->

{% endblock %}
