<!-- Footer-->
<footer class="footer bg-faded-light">
  <div class="border-bottom border-light py-4">
    <div class="container d-sm-flex align-items-center justify-content-between"><a class="d-inline-block"
        href="{% url 'homepageapp:homepage' %}">
        <div class="d-flex pt-3 pt-sm-0">
        </div>
    </div>
  </div>

  <div class="container d-lg-flex align-items-center justify-content-between fs-sm pb-3">
    <div class="d-flex flex-wrap justify-content-center order-lg-2 mb-3"><a class="nav-link nav-link-light fw-normal"
        href="#">Terms of use</a><a class="nav-link nav-link-light fw-normal" href="#">Privacy policy</a><a
        class="nav-link nav-link-light fw-normal" href="#">Accessibility statement</a><a
        class="nav-link nav-link-light fw-normal pe-0" href="#">Interest based ads</a></div>
    <p class="text-center text-lg-start order-lg-1 mb-lg-0"><span class="text-light opacity-50">
        Amazing Automan LLC. &copy; All Rights Reserved. @2022-
        <script>document.write(new Date().getFullYear())</script>
    </p>
  </div>
</footer>