{% extends 'homepageapp/10_homepageapp_base.html' %}
{% load static %}

{% block content1-main %}

<style>


@keyframes car-animation {
  0%   {right: -30%;}  /* start off the right edge */
  100% {right: 5%;}   /* stop at 30% from the right edge */
}

#animated-car {
  position: relative;  /* changed to absolute */
  width: 800px;        /* Adjust width as needed */
  height: auto;
  animation: car-animation 2s linear forwards; /* Adjust time as needed */
}
</style>

<!-- Page header-->
<section class="bg-top-center bg-repeat-0 pt-5" style="background-image: url({% static 'homepageapp/img/home/hero-bg.png' %}); background-size: cover;">
  {% if messages %}
  <div class="container pt-5">

      {% for message in messages %}
      <li{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show justify-content-center justify-content-between"{% endif %} role="alert">
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
      </li>
      {% endfor %}
    
  </div>
  {% endif %}

  <div class="container pt-2">
    <article class="row pt-lg-3 pt-xl-4">
      <section class="col-md-7 pt-3 pt-md-3 pt-lg-5">
        <header>
          <h2 class="text-dark pb-2 mb-4 me-md-n5">Your Trustworthy AI-Driven Automotive Repair Shop</h2>
        </header>
        <div class="content-body">
          <p class="fs-lg text-dark opacity-70"> We strive to offer a seamless and transparent service experience. Our integrated system unifies appointments, repair orders, and customer information, enabling real-time tracking of active work orders and appointments. Be it an early part arrival or an unforeseen delay, we keep you updated.</p>
          <p class="fs-lg text-dark opacity-70"> Our mission surpasses that of traditional dealerships - we pledge to keep you informed frequently about your car's repair status.</p>
          <p class="fs-lg text-dark opacity-70">Our unique strengths include:</p>
          <ul class="fs-lg text-dark opacity-70">
            <li>Vertical Integration: Real-time tracking of repair status and online payments.</li>
            <li>Automation: Eliminating repetitive tasks to boost efficiency.</li>
            <li>AI-Driven Solutions: Leveraging AI to answer customer queries, set to launch in 2024. </li>
          </ul>
          <p class="fs-lg text-dark opacity-80">Start your journey with us by booking an online service appointment for issues like oil changes, A/C issues, etc.</p>
          <a  class="btn btn-sm btn-outline-primary w-sm-auto w-100" href="{% url 'appointments:create-appointment' %}">Service Appointment</a>
        </div>
      </section>
      <!-- end of column  -->

      <figure class="col-md-5 p-md-5">
        <img class="d-block mt-4 ms-auto"  src="{% static 'homepageapp/img/2023-05-27-tesla-roadster-sports-car-tesla-motors-car.png' %}" width="800" alt="Car">
      </figure>
    </article>
  </div>
  <!-- end of container -->
  
<!-- service list the shop provides  -->
<section class="container pt-5">
  <div class="d-sm-flex align-items-center justify-content-between mb-3 mb-sm-4 pb-sm-2">
    <h2 class="h3 text-dark my-2 mb-sm-0">Popular Services</h2><a class="btn btn-link btn-dark fw-normal px-0" href="{% url 'homepageapp:services' %}">View all<i class="fi-arrow-long-right fs-sm mt-0 ps-1 ms-2"></i></a>
  </div>
  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-2 g-md-4">
    {% for icon in service_icons %}
    <!-- Item-->
    <div class="col col-3">
      <div class="card card-body card-dark card-hover bg-transparent border-0 px-0 pt-0 text-center">
        <img class="d-block mx-auto mb-3" src="{% static icon.img_src %}" width="160" alt="{{ icon.alt }}">
        <p class="stretched-link fw-bold">{{ icon.title }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}

    