{% extends 'homepageapp/10_homepageapp_base.html' %}
{% load crispy_forms_tags %}

{% block content1-main %}

<div class="container d-flex align-items-center justify-content-center vh-100 my-5 pt-5">
    <div class='row'>
          <h3>Service Appointment Request</h3>

          <h4>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h4>
          <form class="form-horizontal" method="post">
            {% csrf_token %}
            <table class="border-secondary">
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                  {% if form.helper %}
                    {% crispy form form.helper %}
                  {% else %} 
                    {{ form |crispy}}
                  {% endif %}
                {% endfor %}
            {% else %}
                {% if wizard.form.helper %}
                  {% crispy wizard.form  form.helper %}
                {% else %} 
                  {{ wizard.form |crispy}}
                {% endif %}
            {% endif %}
            </table>
            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">First</button>
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous</button>
            {% endif %}
            <button type="submit" value="Submit">Next</button>
          </form>      

    </div>
    
  
</div>        
{% endblock %}