{% extends 'appointments/00_appointment_base.html' %}
{% load crispy_forms_tags %}

{% block content1-main %}

<div class='container-fluid'>
  <!-- nav Breadcrumb-->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-dark">
      <li class="breadcrumb-item"><a href="{% url 'homepageapp:homepage' %}">Homepage</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dashboard:main_dash' %}">Main Dash</a></li>
      <li class="breadcrumb-item active">Appointments</a></li>
    </ol>
  </nav>

  <h2>Appointments Dash</h2>
  <div class='row p-1 my-1'>
    <p>User: {{user.user_first_name}}. Auth Group: {{user.user_auth_group}}-{{user.get_user_auth_group_display}}-user
      has_perm {{user.has_perm}}</p>
  </div>
  <!-- the button group  -->
  <div class='row'>
    <div class="col-md-12 btn-group my-1">
      <a type="button" class="btn btn-outline-dark" href="{% url 'appointments:create_appointment' %}">
        <i class="uil-focus-add"></i>
        New Appointment
      </a>
      <a type="button" class="btn btn-outline-dark" href="{% url 'dashboard:customer_dash' %}">
        <i class='uil-users-alt'></i>
        Go to Customer Dash
      </a>

      <a type="button" class="btn btn-outline-dark" href="{% url 'dashboard:vehicle_dash' %}">
        Go to Vehicle Dash
      </a>
    </div>
  </div>
  <!-- end of button group  -->
</div>
<!-- end of container  -->

<div class='container-fluid'>
  <div class='row'>
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th> ID</th>
            <th>Appointment Date</th>
            <th>Name</th>
            <th>Reason of Visit</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for appointment in appointments %}
          <tr>
            <td>
              <a href="{% url 'appointments:appointment_detail' pk=appointment.appointment_id  %}">
                {{ appointment.pk }}</a>
            </td>
            <td>{{ appointment.appointment_requested_datetime }}</td>
            <td>{{ appointment.appointment_full_name }}</td>
            <td>{{ appointment.get_appointment_reason_for_visit_display |truncatechars:25 }}</td>
            <td>{{ appointment.appointment_email |truncatechars:25}}</td>
            <td>{{ appointment.appointment_phone_number }}</td>
            <td>{{ appointment.get_appointment_status_display }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">No appointments found.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

{% endblock %}