{% extends 'homepageapp/10_homepageapp_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content1-main %}

<div class="container align-items-center justify-content-center pt-5 m-5">
  <!-- <div class="row">
    <p>You can also directly sign in with your instagram, gmail or tiktok account here <a href="{% url 'customer_users:customer_user_register_firebaseauth' %}">soical media sign in</a></p>
  </div> -->
  <!-- end of row -->
  <!-- 
  <div class='row'>
    <div class="col-md-6"> -->
  <div class="card card-hover automan-steel-plate-card shadow m-1">
    <h3 class="card-header p-1 m-1">Register a new account. </h3>
    <div class="card-body">
      <p class="fw-semibold card-subtitle mb-3">
        Get premium service by signing up for an account.
        Already have an account?
        <a class="card-link" href='{% url "customer_users:customer_user_login" %}'>Sign in</a> here.
      </p>
      <form method="POST">
        {% csrf_token %}
        {% crispy form form.helper %}
        <!-- <button class='btn btn-outline-primary justify-content-center' type="submit">Register</button> -->
      </form>
    </div>
    <!-- end of card-body  -->
  </div>
  <!-- end of card  -->
  <!-- </div>
  </div> -->
  <!-- end of div 'row' -->
  <link rel="stylesheet" href="{% static 'CRMs/css/support_conversation.css' %}">
  <script src="{% static 'CRMs/js/support_conversation.js' %}"></script>
</div>
<!-- end of container  -->
{% endblock %}