{% extends 'customer_users/00_customer_user_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content1-main %}
<style>
  .metal-header {
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    text-align: center;
    /* Dark red gradient background for a metallic look */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(255, 255, 255, 0.2); */
    /* Adjusted box shadow for subtle depth, added inner shadow for metallic sheen */
  }

  .metal-section {
    background: linear-gradient(145deg, #f0f0f0, #dce0e2, #abacad);
    /* Silver gradient background */
    border: 1px transparent #6c6c6c;
    /* Adjusted border color for a more metallic look */
    border-radius: 5px;
    /* Rounded corners */
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(255, 255, 255, 0.2);
    /* Adjusted box shadow for subtle depth, added inner shadow for metallic sheen */
  }

  .metal-nav {
    background-color: rgba(255, 255, 255, 0.1);
    /* Semi-transparent background for a sleek look */
    border-bottom: 1px trasnparent #a0a0a0;
    /* Adjusted bottom border for cohesion with the metallic theme */
  }

  .metal-nav .nav-link {
    color: #333;
    /* Dark text color remains for contrast */
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
    /* Text shadow for a slight glow effect, enhancing legibility */
  }

  .metal-content {
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    /* Subtle gradient from white to light gray for content background */
    border: none;
    /* Consistent border color with the rest of the metallic theme */
    border-radius: 10px;
    /* Rounded corners */
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.3);
    /* Softer outer shadow and subtle inner glow for depth */
  }

  /* Responsive styles */
  @media (max-width: 767px) {
    .metal-section {
      padding: 10px;
    }

    .metal-content {
      margin-top: 20px;
      padding: 10px;
    }
  }

  /* Custom CSS for the metal engraved form */
  .metal-form {
    background: transparent;
    /* Light gray background */
    border: none;

    /* Border color */
    /* border-radius: 10px; */
    /* Rounded corners */
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* Box shadow */
    transition: transform 0.3s ease-in-out;
    /* Transition for hover effect */
    /* overflow: hidden; */
    /* Hide the overflow of the pseudo-element */
  }

  .metal-form:hover::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    /* Semi-transparent white for the glare
  transform: rotate(-30deg);
  /* Rotate the glare for a diagonal effect */
    pointer-events: none;
    /* Prevent the glare from interfering with form inputs */
    animation: glare 1.5s ease-in-out infinite;
    /* Apply the glare animation */
  }

  @keyframes glare {
    0% {
      transform: rotate(-30deg) translateX(-100%);
    }

    50% {
      transform: rotate(-30deg) translateX(100%);
    }

    100% {
      transform: rotate(-30deg) translateX(-100%);
    }
  }

  .metal-form label {
    font-weight: bold;
    color: #333;
    align-items: center;
    /* Dark text color */
    /* display: block; */
    /* Ensure labels appear on separate lines */
  }

  .metal-form .form-group {
    background: transparent;
  }

  .metal-form input[type="text"],
  .metal-form input[type="password"] {
    background-color: #ddd;
    /* Light gray background for input fields */
    border: 1px solid #888787;
    /* Border color */
    border-radius: 5px;
    /* Rounded corners */
    padding: 8px;
    margin-bottom: 10px;
    /* width: 100%; */
    /* Full width */
  }

  .metal-button,
  .metal-form button {
    background: linear-gradient(to bottom, #373636 0%, #300909 50%, #484545 100%);
    /* Dark grey gradient background for a metallic look */
    color: #fff;
    /* White text color */
    border: none;
    border-radius: 5px;
    /* Rounded corners */
    padding: 10px 10px;
    text-align: center;
    /* display: inline; */
    /* cursor: pointer; */
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    transition: background-color 0.3s ease-in-out;
    /* Transition for hover effect */
    box-shadow: 0 5px 8px rgba(128, 128, 128, 0.6);
    /* Grey shadow */

    /* Text shadow for 3D effect */
    margin: 0 auto;
    /* Center the button horizontally */
  }


  .metal-form button:hover {
    background-color: #2f3030;
    /* Darker blue on hover */
  }

  .metal-form p {
    color: #f10c0c;
    /* Red color for error message */
    font-weight: bold;
    /* margin-top: 10px; */
  }

  .nav-item {
    font-weight: bold;
    background: transparent;
    /* Make the font bold */
  }

  .nav-item a:hover {
    background: linear-gradient(120degree, #f1eeee 0%, #e7c8c8 50%, #363232 100%);
    /* Add a metallic glare on hover */
    color: #fff;
    /* Change the text color on hover to white for contrast */
  }

  .nav-item a.active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(255, 255, 255, 0.2);
    /* Add a shadow when active */
  }
</style>
<section class="container align-items-center justify-content-center p-5 mt-5">

  <div class="card metal-content">
    <h3 class="card-header">Register</h3>
    <div class="card-body">

      <!-- Nav tabs -->
      <div class="row">
        <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="email-tab" data-bs-toggle="pill" href="#emailtab" role="tab">Email</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="google-tab" data-bs-toggle="pill" href="#googletab" role="tab">Google</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="twitter-tab" data-bs-toggle="pill" href="#twittertab" role="tab">Twitter</a>
          </li>
        </ul>
      </div>

      <!-- Tab panes -->
      <div class="tab-content mt-1">
        <div id="emailtab" class="tab-pane fade show active" role="tabpanel">

          <form id="email-signup-form" class="metal-form" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <label for="email" class="form-label">Email:</label>
                <input type="text" id="email" name="email" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" class="form-control">
              </div>
              <div class=" col-md-6">
                <label for="phone-number" class="form-label">Phone Number:</label>
                <input type="text" id="phone-number" name="phone-number" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="display-name" class="form-label">Display Name:</label>
                <input type="text" id="display-name" name="display-name" class="form-control">
              </div>
            </div>
            <button id="email-signup-button" class="btn btn-primary">Sign up with Email</button>
          </form>
        </div>
        <div id="googletab" class="tab-pane fade" role="tabpanel">
          <h3 class="text-center">Register Form (Google)</h3>
          <div class="d-flex justify-content-center mt-4">

            <button id="google-signup-button" class="metal-button">Sign up with Google</button>

          </div>
        </div>
        <div id="twittertab" class="tab-pane fade" role="tabpanel">
          <h3 class="text-center">Register Form (Twitter)</h3>
          <div class="d-flex justify-content-center mt-4">
            <button id="twitter-signup-button" class="metal-button">Sign up with Twitter</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- end of container -->
</section>

<!-- firebase authentication functions in javascript -->
<script>
  window.csrfToken = "{{ csrf_token }}";
</script>
{% comment %}
{% endcomment %}

<script>
  // Fetch the JavaScript file using jQuery AJAX
  $.ajax({
    url: "{% static 'customer_users/js/firebase_auth_register_and_sign_in_with_django.js' %}",
    dataType: "text",
    success: function (scriptContent) {
      // Execute the script content
      eval(scriptContent);
    },
    error: function (xhr, status, error) {
      console.error('Error loading script firebase_auth_register_and_sign_in_with_django.js:', error);
    }
  });
</script>
<script type="module" src="{% static 'customer_users/js/firebase_auth_register_and_sign_in_with_django.js' %}"></script>

<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-analytics.js";
  // Add Firebase products that you want to use firebase_auth_register_and_sign_in_with_django.js
  import {
    getAuth, signInWithPopup, createUserWithEmailAndPassword, signInWithEmailAndPassword,
    signInWithRedirect, browserSessionPersistence, setPersistence,
    TwitterAuthProvider, FacebookAuthProvider, GoogleAuthProvider,

  } from 'https://www.gstatic.com/firebasejs/10.8.0/firebase-auth.js';
  import { RecaptchaVerifier, signInWithPhoneNumber } from 'https://www.gstatic.com/firebasejs/10.8.0/firebase-auth.js';

  import { getFirestore } from 'https://www.gstatic.com/firebasejs/10.8.0/firebase-firestore.js'
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyD2nAbeM9CggQXJk1fLfg-f5feGd6_PfJc",
    authDomain: "vin-doctor.firebaseapp.com",
    projectId: "vin-doctor",
    storageBucket: "vin-doctor.appspot.com",
    messagingSenderId: "558945667327",
    appId: "1:558945667327:web:d299c0c60e2605b71ca4ca",
    measurementId: "G-M6BZ6B7DPJ"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);

  // Firebase Authentication
  const firebase_auth = getAuth(app);

  console.log('Firebase Auth is ready to use', firebase_auth.name);

  $(document).ready(function () {
    $('#email-signup-form').on('submit', function (e) {
      e.preventDefault();

      var email = $('#email').val();
      var password = $('#password').val();
      var display_name = $('#display-name').val();
      email = email.toLowerCase();
      display_name = display_name.split(' ')
        .map(word => word.replace(word[0], word[0].toUpperCase()))
        .join(' ');
      console.log(email, password, display_name);

      createUserWithEmailAndPassword(firebase_auth, email, password)
        .then((userCredential) => {
          // var user = firebase.auth().currentUser;
          var user = userCredential.user;
          user.display_name = display_name
          console.log('User signed up with Email!', user);
          var userObj = {
            uid: user.uid,
            email: user.email,
            display_name: display_name,
            // password: password,  // It's highly not recommended to send passwords
          };

          // serialize the data
          // var jsonUserObj = JSON.stringify(userObj)
          // createFirebaseUserInDjango(jsonUserObj);
        })
        .catch((error) => {
          console.error(error.code, error.message);
        });
    });

    $('#google-signup-button').click(function (e) {
      e.preventDefault();
      var provider = new GoogleAuthProvider();
      signInWithPopup(firebase_auth, provider)
        .then((result) => {
          console.log('User signed up with Google!');
        })
        .catch((error) => {
          console.error(error);
        });
    });

    $('#twitter-signup-button').click(function (e) {
      e.preventDefault();
      var provider = new TwitterAuthProvider();
      signInWithPopup(firebase_auth, provider)
        .then((result) => {
          console.log('User signed up with Twitter!');
        })
        .catch((error) => {
          console.error(error);
        });
    });

    function createFirebaseUserInDjango(jsonUserObj) {
      // Get CSRF token
      var csrftoken = $('input[name=csrfmiddlewaretoken]').val();

      // Implement the logic to send user data to the backend server
      // You may send the user data via AJAX POST request
      $.ajax({
        url: 'firebase_auth_user_creation/',
        type: 'post',
        headers: {
          'Content-Type': 'application/json',
          // Add the CSRF token to the request header
          'X-CSRFToken': csrftoken,
        },
        data: jsonUserObj,
        // {
        //     'uid': user.uid,
        //     'email': user.email,
        //     'display_name': user.display_name,
        //     'password':user.password,
        //     // other user attributes
        //     // Add CSRF Token
        //     'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        // },
        datatype: 'json',
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
        },
        success: function (data) {
          // alert(data.message);
          // Redirect to the URL provided by backend
          window.location.href = '/accounts/register-success/';
        },

        error: function (response) {
          console.error("Error sending user data to the backend (Django).", response);
        }
      });
      // end of ajax
    }
    // end of function

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

  });


</script>

{% endblock %}