{% extends 'homepageapp/10_homepageapp_base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% block content1-main %}
<style>
  /* body,
  html {
    height: 100%;
    background: linear-gradient(145deg, #c4c3c3, #4b4b4b);
  } 

  .shadow-lg {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  /*

  */
  .bg-top-center {
    background-color: #2f2f2f;
    background-image: radial-gradient(at top center, #ffffff22, transparent);
    color: white;
  }

  .rounded {
    border-radius: 20px;
    overflow: hidden;
    /* To make sure inner elements do not break the rounded corners */
    background: linear-gradient(315deg, #DADADA, #fff1f2);
    border: 1px solid #5a5a5a;
    position: relative;
  }

  .rounded:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(315deg, #ffffff44, #00000044);
    border-radius: inherit;
  }

  .automan-btn-primary {
    background-color: #5a5a5a;
    /* Primary color */
    border: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    /* Pronounced shadow */
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    /* For WebKit browsers */
    transition: all 0.3s ease;
    /* Snappy transition */
    -webkit-transition: all 0.3s ease;
    /* For WebKit browsers */
    color: white;
  }

  .automan-btn-primary:hover {
    color: white;
    background-color: #6a6a6a;
    /* Slightly lighter for hover */
    box-shadow: 5px 5px 15px #fd3503;
    /* Lifted effect with color in shadow */
    -webkit-box-shadow: 5px 5px 15px #fd3503;
    /* For WebKit browsers */
    transform: translateY(-2px);
    /* Subtle lift */
    -webkit-transform: translateY(-2px);
    /* For WebKit browsers */
  }

  .automan-btn-primary:active {
    background-color: #494949;
    /* Darker for active */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    /* Less shadow for a pressed effect */
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    /* For WebKit browsers */
    transform: translateY(1px);
    /* Appears pressed */
    -webkit-transform: translateY(1px);
    /* For WebKit browsers */
  }

  .form-control {
    background: transparent;
    border: 1px solid #5a5a5a;
    color: #FFA500;
    transition: border 0.3s ease;
  }

  .form-control:focus {
    border-color: #747474;
    box-shadow: 0 0 5px rgba(116, 116, 116, 0.5);
  }



  .automan-support-button {
    position: fixed;
    /* Fixed positioning relative to the viewport */
    right: 5px;
    /* 20px from the right */
    bottom: 10px;
    background: none;
    /* Transparent background */
    border: none;
    /* No border */
    cursor: pointer;
    /* Pointer cursor on hover */
  }

  /* .confirmation-dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
  }

  .dialog-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  } */

  /* Additional styles for buttons and text can go here */
</style>
<section class="bg-top-center d-block p-1 my-1  ">
  <!-- django messages section  -->
  <div class="container align-items-center justify-content-center p-5 mt-5">
    {% include 'homepageapp/14_homepageapp_messages_section.html' %}
  </div>

  <div class="container d-flex justify-content-center align-items-center pt-5 m-5 ">
    <div class="shadow-lg p-5 rounded  ">
      <h3 class="mb-4 text-center">Sign In</h3>
      <p class="mb-4 text-dark text-center" style="font-family: 'Orbitron', sans-serif; font-weight: 700;">
        Register a new account <a href="{% url 'customer_users:customer_user_register' %}">here</a>.
      </p>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
  <!-- end of container  -->


  <!-- added confirmationDiag to integrate the chatbot and customer support window -->
  <div id="confirmationDialog" class="confirmation-dialog" style="display: none;">
    <div class="dialog-content">
      <h4>Welcome!</h4>
      <p>Please choose your preferred support option:</p>
      <button id="chooseChatbot" class="btn btn-primary">AI Assistant</button>
      <button id="chooseHumanSupport" class="btn btn-secondary">Customer Support (Human)</button>
      <button id="cancelDialog" class="btn btn-danger">Cancel</button>
    </div>
  </div>


  <!-- 2023-11-08 added a customer support converation button  -->

  {% comment %}
  {% include 'customer_users/02_customer_user_support_conversation_ui.html' %}

  <script src="{% static 'CRMs/js/support_conversation.js' %}"></script>
  {% endcomment %}


  <!-- added customized css styling  -->
  <!-- <link href="{% static 'core_operations/css/automan-theme.css' %}" rel="stylesheet"> -->

  <div id="loading-spinner-new-conversation" class="automan-spinner-border-new-conversation text-primary" role="status"
    style="display: none;">
    <span class="sr-only">launching a new customer support conversation</span>
  </div>

  <form method="POST" id="new-support-conversation-form">
    {% csrf_token %}
    <btn class="automan-support-button" id="new_conversation_button" type="submit" value="Submit">
      <!-- <img class="automan-support-icon" src="{% static 'core_operations/imgs/robot-icon-02-smaller.svg' %}"
        alt="Robot Icon" /> -->
      <!-- <i class="automan-support-icon fa fa-comments"></i> -->

    </btn>
  </form>
  <!-- the customer support window  -->
  <div class="automan-support-window" id="support_conversation_window">
  </div>

</section>
<!-- custom css style that makes the login form looks metal and glossy. -->
<script>
  // Function to handle debounce
  function debounce(func, wait, immediate) {
    var timeout;
    return function () {
      var context = this, args = arguments;
      var later = function () {
        timeout = null;
        if (!immediate) func.apply(context, args);
      };
      var callNow = immediate && !timeout;
      clearTimeout(timeout);
      timeout = setTimeout(later, wait);
      if (callNow) func.apply(context, args);
    };
  }
  // 2024-01-1 this script is added to test the integration of enableChatBotUI and the customer support window  -->
  function initiateNewConversation() {
    var $button = $('#new_conversation_button');
    var $spinner = $('#loading-spinner-new-conversation');
    var $form = $('#new-support-conversation-form');
    var csrfToken = $form.find('[name=csrfmiddlewaretoken]').val();

    // Disable the button and show the spinner
    $button.prop('disabled', true);
    $spinner.show();

    // Clear any existing ajax call timeout
    clearTimeout(ajaxCallTimeout);

    // Set a new timeout for the AJAX call
    ajaxCallTimeout = setTimeout(function () {
      console.error('Timeout: Could not get a response from the server.');
      $spinner.hide();
      $button.prop('disabled', false);
    }, ajaxCallDuration);

    $.ajax({
      url: '/crms/new_conversation/',
      type: 'POST',
      data: JSON.stringify({}),
      contentType: 'application/json',
      dataType: 'json',
      headers: {
        'X-Requested-With': 'XMLHttpRequest',
        'X-CSRFToken': csrfToken
      },
      success: function (data) {
        console.log('Fetch data success. Conversation UUID is: ', data.uuid);
        if (data.uuid) {
          renderConversationWindow(data.uuid);
        }
      },
      error: function (xhr, status, error) {
        console.error('Error:', error);
      },
      complete: function () {
        // Clear the ajax call timeout since the call is complete
        clearTimeout(ajaxCallTimeout);
        $spinner.hide();
        $button.prop('disabled', false);
      },
    });
  };
  // end of function initiateNewConversation

  // function 3 - renderConversationWindow
  // this function renders a conversation window with new convesation uid. enable wesocket for messaging 
  function renderConversationWindow(uuid) {

    // Determine if the app is running on localhost
    // var isLocalhost = ["localhost", "127.0.0.1"].includes(window.location.hostname);
    // var wsProtocol = isLocalhost ? "ws://" : "wss://";
    var wsProtocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
    // Creating the HTML structure
    var conversationHtml = `  
        <div class="card card-hover border-5 p-1 m-1">
            <div class="card-header text-dark d-flex justify-content-between align-items-center">
                <h4>Customer Support (Beta)</h4>
                <button class="btn btn-sm btn-outline-danger" id="end-conversation-button" type="button">&times;</button>
            </div>
            <p class="text-muted">(Support-Case-ID:${uuid})</p>
            <div class="card-body m-1">
                <textarea id="conversation-log" class='form-control mb-2 conversation-log' readonly></textarea>
                <div class="input-group mb-4">
                    <input id="conversation-message-input" type="text" class="form-control" placeholder="Type your message...">
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark" id="conversation-message-send-button" type="button">Send</button>
                    </div>
                </div>
                
            </div>
        </div>
      `;


    // Append it to the body or a specific element
    $('#support_conversation_window').append(conversationHtml);

    // Make the support conversation window visible
    $('.automan-support-window').fadeIn(1000); // This will smoothly fade in the window

    // Establish the WebSocket connection
    // use ws:// when its local server. use wss:// for production server.
    const conversationSocket = new WebSocket(
      wsProtocol + window.location.host + '/ws/conversations/' + uuid + '/'
    );

    //
    conversationSocket.onopen = function (response) {

      // You can now safely send a message
      // conversationSocket.send(JSON.stringify({ message: 'Hello Server!' }));
      // const data = JSON.parse(response.data);
      console.info('conversation started...a websocket connection is established...');
      localStorage.setItem('activeSupportConversationUUID', uuid);

      // document.querySelector('#conversation-log').value += (data.conversation_message + '\n');
    };

    // WebSocket event for receiving messages
    conversationSocket.onmessage = function (response) {
      try {
        data = JSON.parse(response.data);
        const message = data.conversation_message;
        let direction = parseInt(0);  // 0 for outgoing, 1 for incoming

        let formattedMessage = '';
        if (direction === 0) {
          formattedMessage = 'Operator: ' + message;
        } else {
          formattedMessage = 'Customer: ' + message;
        }
        document.querySelector('#conversation-log').value += (formattedMessage + '\n');
        // $('#conversation-log').val(function(index, value) {
        //     return value + (formattedMessage + '\n');
        // });
      } catch (error) {
        console.error('Error Parsing received data. Expecting JSON:', error)
      };
    };

    conversationSocket.onclose = function (e) {
      console.log('WebSocket closed:', event);
      if (event.wasClean) {
        console.log(`Connection closed cleanly, code=${event.code}, reason=${event.reason}`);
      } else {
        // e.g., the server process killed or network down
        console.log('Connection died');
      }
    };

    // Send message event. via clicking 'conversation-message-send-button' button or pressing 'Enter' key
    $('#conversation-message-send-button').on('click', function () {
      // var messageInput = $('#conversation-message-input');
      // var message = messageInput.val();

      const messageInputDom = document.querySelector('#conversation-message-input');
      const conversation_message = messageInputDom.value;

      // Determine the direction of the message
      // For example, let's assume 1 is for messages from customer to operator; 0 is from operator to customer.
      var messageDirection = 1;

      if (conversationSocket.readyState === WebSocket.OPEN) {
        conversationSocket.send(JSON.stringify({
          'conversation_message': conversation_message,
          'message_direction': messageDirection,
        }));
      } else {
        console.error('WebSocket is not open: ' + conversationSocket.readyState);
      }

      messageInputDom.value = '';

    });

    // Press Enter to send message
    $('#conversation-message-input').keyup(function (e) {
      if (e.key === 'Enter' || e.keyCode === 13) {
        $('#conversation-message-send-button').click();
      }
    });
    // Focus the input field for message
    $('#conversation-message-input').focus();

    // End conversation event
    $('#end-conversation-button').on('click', function () {
      // Perform any cleanup, like closing WebSocket connections
      conversationSocket.close();

      // Remove the conversation window
      $('.automan-support-window').fadeOut(500, function () {
        $(this).remove();
      });

      // Remove the session data
      localStorage.removeItem('activeSupportConversationUUID');
    });

  };
  // end of function renderConversationWindow 

  // handle the case where the user navigates away from the page or closes the browser while a support conversation is active:
  $(window).on('beforeunload', function () {
    // Retrieve the active conversation UUID from localStorage
    var activeUUID = localStorage.getItem('activeSupportConversationUUID');

    // If there's an active conversation
    if (activeUUID) {
      // Check if the WebSocket connection is open
      if (conversationSocket && conversationSocket.readyState === WebSocket.OPEN) {
        // Send a message to the server indicating the user might be leaving
        conversationSocket.send(JSON.stringify({
          message: 'User might be leaving, hold the conversation.',
          uuid: activeUUID
        }));
      }

      // Optionally, you can also clear the active conversation UUID from localStorage
      // But this depends on how you want to handle page reloads and revisits
      localStorage.removeItem('activeSupportConversationUUID');
    }

    // Additional cleanup if necessary
    // ...
  });

  // jQuery code
  $(function () {
    var debounceTimeout;
    var ajaxCallTimeout;
    var ajaxCallDuration = 10000; // 10 seconds for timeout
    // 2024-01-18 
    // added to check if an existing conversation_window with uuid is available in local storage. 
    // if yes, render the conversation window using the exsiting conversation uuid.
    var existingUUID = localStorage.getItem('activeSupportConversationUUID');
    if (existingUUID) {
      renderConversationWindow(existingUUID);
    }


    $('#new_conversation_button').click(debounce(function (event) {
      event.preventDefault();
      var $button = $(this);
      var $spinner = $('#loading-spinner-new-conversation');
      var $form = $('#new-support-conversation-form');
      var csrfToken = $form.find('[name=csrfmiddlewaretoken]').val();

      // Disable the button and show the spinner
      $button.prop('disabled', true);
      $spinner.show();

      // Clear any existing ajax call timeout
      clearTimeout(ajaxCallTimeout);

      // Set a new timeout for the AJAX call
      ajaxCallTimeout = setTimeout(function () {
        console.error('Timeout: Could not get a response from the server.');
        $spinner.hide();
        $button.prop('disabled', false);
      }, ajaxCallDuration);

      $.ajax({
        url: '/crms/new_conversation/',
        type: 'POST',
        data: JSON.stringify({}),
        contentType: 'application/json',
        dataType: 'json',
        headers: {
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': csrfToken
        },
        success: function (data) {
          console.log('Fetch data success. Conversation UUID is: ', data.uuid);
          if (data.uuid) {
            renderConversationWindow(data.uuid);
          }
        },
        error: function (xhr, status, error) {
          console.error('Error:', error);
        },
        complete: function () {
          // Clear the ajax call timeout since the call is complete
          clearTimeout(ajaxCallTimeout);
          $spinner.hide();
          $button.prop('disabled', false);
        },
      });

    }, 300));

    // 2024-01-18
    // integrate enablechatbot and customer support window 
    // Click event handler for #enableChatbot button
    $('#enableChatbot').on('click', function () {
      // Check if the '#confirmationDialog' element exists
      if ($('#confirmationDialog').length > 0) {
        // If the element exists, fade it in to show the confirmation dialog
        $('#confirmationDialog').fadeIn();
      } else {
        // If the element does not exist, show the chatbot UI directly
        $("#chatbotUI").show();
      }
    });

    // Click event handler for #chooseChatbot button
    $('#chooseChatbot').on('click', async function () {
      $('#confirmationDialog').fadeOut();
      $("#chatbotUI").fadeIn();
      $('#enableChatbot').fadeOut();
    });


    $('#chooseHumanSupport').click(debounce(function (event) {
      event.preventDefault();
      $('#confirmationDialog').fadeOut();
      $('#enableChatbot').fadeOut();
      var $button = $('enableChatBot');
      var $spinner = $('#loading-spinner-new-conversation');
      var $form = $('#new-support-conversation-form');
      var csrfToken = $form.find('[name=csrfmiddlewaretoken]').val();

      // Disable the button and show the spinner
      $button.prop('disabled', true);
      $spinner.show();

      // Clear any existing ajax call timeout
      clearTimeout(ajaxCallTimeout);

      // Set a new timeout for the AJAX call
      ajaxCallTimeout = setTimeout(function () {
        console.error('Timeout: Could not get a response from the server.');
        $spinner.hide();
        $button.prop('disabled', false);
      }, ajaxCallDuration);

      $.ajax({
        url: '/crms/new_conversation/',
        type: 'POST',
        data: JSON.stringify({}),
        contentType: 'application/json',
        dataType: 'json',
        headers: {
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': csrfToken
        },
        success: function (data) {
          console.log('Fetch data success. Conversation UUID is: ', data.uuid);
          if (data.uuid) {
            renderConversationWindow(data.uuid);
          }
        },
        error: function (xhr, status, error) {
          console.error('Error:', error);
        },
        complete: function () {
          // Clear the ajax call timeout since the call is complete
          clearTimeout(ajaxCallTimeout);
          $spinner.hide();
          $button.prop('disabled', false);
        },
      });

    }, 300));

    // Click event handler for #chooseHumanSupport button
    // $('#chooseHumanSupport').click(debounce(function (event) {
    //   event.preventDefault();
    //   $('#confirmationDialog').fadeOut();
    //   $('#enableChatbot').fadeOut();
    //   initiateNewConversation();
    // }, 300));


    // Click event handler for #cancelDialog button
    $('#cancelDialog').on('click', function () {
      $('#confirmationDialog').fadeOut();
    });

    // Close button for the customer support window
    $(document).on('click', '#closeConversationButton', function () {
      $('.automan-support-window').fadeOut(500, function () {
        $(this).remove();
      });
    });

    // Close button for the chatbot UI
    $('#closeChatbot').on('click', function () {
      $('#chatbotUI').fadeOut();
      $('#enableChatbot').fadeIn(); // Show the enableChatbot button again
    });


  });



</script>


{% endblock %}