{% extends 'customer_users/00_customer_user_base.html' %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<section class="container pt-5 m-5">
    <h3>Update your password </h3>
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="email-tab" data-bs-toggle="tab" data-bs-target="#emailtab"
                    role="tab">Email</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="phone-tab" data-bs-toggle="tab" data-bs-target="#phonetab" role="tab">Phone</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="emailtab" class="tab-pane fade show active" role="tabpanel">
                <h3>Login Form (Email)</h3>
                <form id="email-login-form">
                    {% csrf_token %}
                    <label for="email">Email:</label><br>
                    <input type="text" id="email" name="email"><br>
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password"><br><br>
                    <button id="email-login-button">Sign in with Email</button>
                    <p id="email-error"></p>
                </form>
            </div>
            <div id="phonetab" class="tab-pane fade" role="tabpanel">
                <h3>Login Form (Phone)</h3>
                <form id="phone-login-form">
                    {% csrf_token %}
                    <label for="phone">Phone Number:</label><br>
                    <input type="text" id="phone" name="phone"><br><br>
                    <button id="sign-in-button">Sign in with phone number</button>
                    <div id="recaptcha-container"></div>
                    <p id="phone-error"></p>
                </form>
            </div>
        </div>

    </div>
    <!-- end of container  -->
</section>

<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.2/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.22.2/firebase-analytics.js";
    // Add Firebase products that you want to use
    import { getAuth, signInWithEmailAndPassword, createUserWithEmailAndPassword } from 'https://www.gstatic.com/firebasejs/9.22.2/firebase-auth.js';
    import { RecaptchaVerifier, signInWithPhoneNumber } from 'https://www.gstatic.com/firebasejs/9.22.2/firebase-auth.js';
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyAUKEAAmqwcJ3fI9JSMLMhprCRIT9YZ5_c",
        authDomain: "fresh-start-9fdb6.firebaseapp.com",
        projectId: "fresh-start-9fdb6",
        storageBucket: "fresh-start-9fdb6.appspot.com",
        messagingSenderId: "214895272406",
        appId: "1:214895272406:web:d82b1c8b656960960a0477",
        measurementId: "G-ZD73MVNY42"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
    // Initialize Firebase Authentication and get a reference to the service
    const firebase_auth = getAuth(app);


    // Email & Password Authentication
    $('#email-login-button').click(function (e) {
        e.preventDefault();
        var email = $('#email').val();
        var password = $('#password').val();
        signInWithEmailAndPassword(firebase_auth, email, password)
            .then((userCredential) => {
                console.log('Signed in as ', email);
                $("#email-error").html("");
                // Signed in 
                const user = userCredential.user;
                sendUserDataToBackend(user);
            })
            .catch((error) => {
                console.error('Error signing in with email and password', error);
                $("#email-error").html(error.message);
            });
    });


    // Phone Number Authentication
    window.recaptchaVerifier = new RecaptchaVerifier('sign-in-button', {
        'size': 'invisible',
        'callback': (response) => {
            onSignInSubmit();
        }
    }, firebase_auth);


    function onSignInSubmit() {
        const phoneNumber = $('#phone').val();
        // const phoneNumber = getPhoneNumberFromUserInput();
        const appVerifier = window.recaptchaVerifier;


        signInWithPhoneNumber(firebase_auth, phoneNumber, appVerifier)
            .then((confirmationResult) => {
                window.confirmationResult = confirmationResult;
                const code = window.prompt("Enter the OTP sent to your phone");
                // const code = getCodeFromUserInput();
                confirmationResult.confirm(code).then((result) => {
                    console.log("User signed in");
                    $("#phone-error").html("");
                    const user = result.user;
                }).catch((error) => {
                    console.error("Error while checking the verification code", error);
                    $("#phone-error").html(error.message);
                });
            }).catch((error) => {
                console.error("Error while sending the SMS", error);
                $("#phone-error").html(error.message);
            });
    }

    function sendUserDataToBackend(user) {
        // Implement the logic to send user data to the backend server
        // You may send the user data via AJAX POST request
        $.ajax({
            url: 'firebase_auth_precheck/',
            type: 'post',
            data: {
                'uid': user.uid,
                'email': user.email,
                // other user attributes
                // Add CSRF Token
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (response) {
                if (response === 'OK') {
                    window.location.href = 'your_redirect_url';
                }
            },
            error: function (response) {
                console.error("Error sending user data to the backend", response);
            }
        });
    }

</script>

{% endblock %}