.vscode

myenv/*
myenv/
env/
venv/

aws
.condatmp
bin
conda-meta
etc
Finder
frontend
lib
man

sbin/*
share/*
ssl
requirements

*.ipynb

.env
.env copy
.env*
node_modules
.ipynb_checkpoints

*.pyc
__pycache__/
migrations/

.gitignore
.gcloudignore
.git

*.log
*.pid