{% extends 'homepageapp/10_homepageapp_base.html' %}
{% load static %}
{% block content1-main %}
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .card-header {
        background-color: transparent;
        color: white;
    }

    .product-img {
        max-width: 60px;
        margin-bottom: 15px;
    }

    .price {
        color: linear-gradient(160deg, #97989a, #d1d3d5, #555d61 100%);
        font-weight: 900;
        font-family: 'Orbitron', sans-serif;
    }

    .spinner {
        border: 3px solid transparent;
        border-top: 3px solid white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .hidden {
        display: none;
    }

    #pricing-breakdown {
        font-size: normal;
        font-family: 'Roboto', sans-serif;
        display: flex;
        padding: auto;
        flex-direction: column;
        text-align: right;
        /* justify-content: space-between; */
        align-items: flex-end;
    }

    /* Variables */
    /* * {
        box-sizing: border-box;
    } */

    /* body {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100vh;
        width: 100vw;
    } */

    form {
        width: auto;
        min-width: 420px;
        align-self: center;
        box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
            0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
        border-radius: 7px;
        padding: 10px;
    }

    .hidden {
        display: none;
    }

    #payment-message {
        color: rgb(105, 115, 134);
        font-size: 16px;
        line-height: 20px;
        padding-top: 12px;
        text-align: center;
    }

    #payment-element {
        margin-bottom: 10px;
    }

    /* Buttons and links */
    button {
        background: #a5aec4;
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        border-radius: 4px;
        border: 0;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        display: block;
        transition: all 0.2s ease;
        box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
        width: 100%;
    }

    button:hover {
        filter: contrast(105%);
    }

    button:disabled {
        opacity: 0.5;
        cursor: default;
    }

    /* spinner/processing state, errors */
    .spinner,
    .spinner:before,
    .spinner:after {
        border-radius: 50%;
    }

    .spinner {
        color: #ffffff;
        font-size: 22px;
        text-indent: -99999px;
        margin: 0px auto;
        position: relative;
        width: 20px;
        height: 20px;
        box-shadow: inset 0 0 0 2px;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
    }

    .spinner:before,
    .spinner:after {
        position: absolute;
        content: "";
    }

    .spinner:before {
        width: 10.4px;
        height: 20.4px;
        background: #5469d4;
        border-radius: 20.4px 0 0 20.4px;
        top: -0.2px;
        left: -0.2px;
        -webkit-transform-origin: 10.4px 10.2px;
        transform-origin: 10.4px 10.2px;
        -webkit-animation: loading 2s infinite ease 1.5s;
        animation: loading 2s infinite ease 1.5s;
    }

    .spinner:after {
        width: 10.4px;
        height: 10.2px;
        background: #5469d4;
        border-radius: 0 10.2px 10.2px 0;
        top: -0.1px;
        left: 10.2px;
        -webkit-transform-origin: 0px 10.2px;
        transform-origin: 0px 10.2px;
        -webkit-animation: loading 2s infinite ease;
        animation: loading 2s infinite ease;
    }

    @-webkit-keyframes loading {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes loading {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @media only screen and (max-width: 600px) {
        form {
            width: 80vw;
            min-width: initial;
        }
    }
</style>


<div class="container pt-5 m-5">
    <div class="card">
        <h3 class="card-header automan-glossy-metallic">
            Payment Checkout
        </h3>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <img src="https://i.imgur.com/EHyR2nP.png" alt="amazing-automan-report" class="product-img" />
                </div>
                <div class="col-sm-9" id="pricing-breakdown">
                    <h5 class="card-title">Vin Report</h5>
                    <p class="price">$30.00</p>
                </div>
            </div>
        </div>
        <hr>
        <!-- card-body  -->

        <div class='card-body'>
            <form id="payment-form">
                <div id="payment-element">
                    <!-- Elements will create form elements here -->
                </div>

                <button id="submit" class='btn automan-glossy-metallic py-1 m-1 ' type="submit">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Submit Payment</span>
                </button>
                <div id="error-message">
                    <!-- Display error message to your customers here -->
                </div>
                <div id="payment-message" class="hidden"></div>
            </form>
        </div>
        <!-- end of card-body  -->
    </div>
    <!-- end of card  -->

</div>
<!-- end of container  -->

<!-- jQuery based javascript to handle stripe payment form. -->

<!-- stripe js. ES module-->
<!-- <script src="https://js.stripe.com/v3/" async>
    
  </script> -->

<script src="https://js.stripe.com/v3/">
</script>
<script>

    // The items the customer wants to buy
    // const items = [{ id: "prod_PKOol19RtrtGTG" }];
    var product_id = "{{product_id}}" // 'prod_PKOol19RtrtGTG';
    // console.log('product_id fetched is: ', product_id);
</script>

<script src="{% static 'shops/js/checkout.js' %}">

</script>
<!-- <script>

    // This is your test publishable API key.
    const stripe = Stripe("pk_test_51O27ZHJQdPkpRk8HuzWAElLfKatvTuF6cfeCloCfB4lumooZcazJhvZKETo4FE7NWxX73E1BqmhFwZH7b2i5RVS900ooTWV626");

    // let elements;

    initialize();
    checkStatus();

    //payment submission button
    $("#payment-form").on("submit", handleSubmit);

    // Fetches a payment intent and captures the client secret
    async function initialize() {
        $.ajax({
            url: `/shops/create_payment_intent/${product_id}`,
            method: "GET",
            dataType: "json",
            success: function (data) {
                const clientSecret = data.clientSecret;
                console.log("clientSecret:", clientSecret);
                const appearance = { theme: 'stripe' };
                elements = stripe.elements({ appearance, clientSecret });
                // paymentElementOptions = {
                //     // Custom styling can be passed to options when creating an Element.
                //     style: {
                //         base: {
                //             // Add your base input styles here. For example:
                //             fontSize: '16px',
                //             color: '#32325d',
                //         },
                //     },
                // };
                const paymentElementOptions = {
                    layout: "tabs",
                };

                const paymentElement = elements.create("payment", paymentElementOptions);
                paymentElement.mount("#payment-element");

                $('#submit-button').prop('disabled', false);

                $('#payment-form').on('submit', function (e) {
                    handleSubmit(e, paymentElement, clientSecret);
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Error creating payment intent:", textStatus, errorThrown);
                showMessage("Error creating payment intent. Please try again.");
            }
        });
    }

    async function handleSubmit(e) {
        e.preventDefault();
        setLoading(true);

        const { error } = await stripe.confirmPayment({
            elements,
            confirmParams: {
                return_url: "http://127.0.0.1:8000/shops/payment_success/",
            },
        });

        if (error.type === "card_error" || error.type === "validation_error") {
            showMessage(error.message);
        } else {
            showMessage("An unexpected error occurred.");
        }

        setLoading(false);
    }

    // Fetches the payment intent status after payment submission
    async function checkStatus() {
        const clientSecret = new URLSearchParams(window.location.search).get(
            "payment_intent_client_secret"
        );

        if (!clientSecret) {
            return;
        }

        const { paymentIntent } = await stripe.retrievePaymentIntent(clientSecret);

        switch (paymentIntent.status) {
            case "succeeded":
                showMessage("Payment succeeded!");
                break;
            case "processing":
                showMessage("Your payment is processing.");
                break;
            case "requires_payment_method":
                showMessage("Your payment was not successful, please try again.");
                break;
            default:
                showMessage("Something went wrong.");
                break;
        }
    }

    // ------- UI helpers -------

    function showMessage(messageText) {
        const messageContainer = $("#payment-message");

        messageContainer.removeClass("hidden").text(messageText);

        setTimeout(function () {
            messageContainer.addClass("hidden").text("");
        }, 4000);
    }

    // Show a spinner on payment submission
    function setLoading(isLoading) {
        if (isLoading) {
            $("#submit").prop("disabled", true);
            $("#spinner").removeClass("hidden");
            $("#button-text").addClass("hidden");
        } else {
            $("#submit").prop("disabled", false);
            $("#spinner").addClass("hidden");
            $("#button-text").removeClass("hidden");
        }
    } -->

</script>
<!-- <script>
    $(function () {
        // This is the test publishable API key from Stripe dashboad (under developer tab).
        var stripe = Stripe('pk_test_51O27ZHJQdPkpRk8HuzWAElLfKatvTuF6cfeCloCfB4lumooZcazJhvZKETo4FE7NWxX73E1BqmhFwZH7b2i5RVS900ooTWV626');
        const appearance = {
            theme: 'flat'
        };
        const options = {
            mode: 'payment',
            amount: 200,
            currency: 'usd',
            // Fully customizable with appearance API.
            appearance: appearance,
            automatic_payment_methods: {
                'enabled': true,
            },

            fields: {
                billingDetails: {
                    name: 'never',
                    email: 'never',
                }
            },
            layout: {
                type: 'tab',
                defaultCollapsed: false,
                radios: true,
                spacedAccordionItems: false
            }
        };

        // Set up Stripe.js and Elements to use in checkout form
        const elements = stripe.elements(options);

        // Create and mount the Payment Element
        const paymentElement = elements.create('payment');
        paymentElement.mount('#payment-element');

    });
</script> -->

{% endblock %}