
{% extends 'homepageapp/10_homepageapp_base.html' %}
{% load static %}
{% block content1-main %}

<div class="container pt-5 my-5">
    
        <div class="card">
            <h3 class="card-header">Standard Payment Checkout</h3>
            <div class='card-body'>
                <form  id="payment-form">
                    <div id="payment-element">
                        <!-- Elements will create form elements here -->
                    </div>

                    <button id="submit" class='btn btn-primary py-1 my-1' type="submit">Submit</button>
                    <div id="error-message">
                        <!-- Display error message to your customers here -->
                    </div>
                </form>
            </div>
            <!-- end of card-body  -->
        </div> 
        <!-- end of card  -->
</div>

<!-- jQuery based javascript to handle stripe payment form. -->

  <!-- stripe js. ES module-->
  <!-- <script src="https://js.stripe.com/v3/" async>
    
  </script> -->
  
<script src="https://js.stripe.com/v3/">
</script>
<script>
    $(function(){
        var stripe = Stripe('pk_test_51O27ZHJQdPkpRk8HuzWAElLfKatvTuF6cfeCloCfB4lumooZcazJhvZKETo4FE7NWxX73E1BqmhFwZH7b2i5RVS900ooTWV626');
        const appearance = {
        theme: 'flat'
        };
        const options = {
            mode: 'payment',
            amount: 200,
            currency: 'usd',
            // Fully customizable with appearance API.
            appearance: appearance,
            automatic_payment_methods:  {
            'enabled': true,
            },
            
            // fields: {
            //     billingDetails: {
            //     name: 'never',
            //     email: 'never',
            //     }
            // },
            layout: {
                type: 'tab',
                defaultCollapsed: false,
                radios: true,
                spacedAccordionItems: false
            }
        };

        // Set up Stripe.js and Elements to use in checkout form
        const elements = stripe.elements(options);

        // Create and mount the Payment Element
        const paymentElement = elements.create('payment');
        paymentElement.mount('#payment-element');

    });
</script>

{% endblock %}