{% extends 'homepageapp/10_homepageapp_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content1-main %}
<style>
    /* custom styles on shops/vehicle_search_product */
    /* .nav-tabs {
    border-bottom: 2px solid #dee2e6;
    } */
    /* The first block of CSS styles applies to all .nav-link elements that are children of .nav-tabs: */
    .p {
        font-family: 'Exo2', sans-serif;
    }

    .automan-introduction-container {
        /* Inherits from Bootstrap container */
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: transparent;
        /* Light grey background */
        border: 1px solid #dee2e6;
        /* Slight border */
        border-radius: .25rem;
        /* Rounded corners */
    }

    .automan-introduction-container img#websiteLogo {
        width: 50px;
        /* Adjust based on your preference */
        height: auto;
        margin-bottom: 1rem;
        /* Space below the logo */
    }

    .automan-introduction-container p {
        margin-bottom: .5rem;
        /* Reduce margin-bottom for <p> elements */
    }

    .automan-introduction-container .disclaimer {
        font-size: .875rem;
        /* Smaller font size for disclaimer */
        color: #6c757d;
        /* Muted text color */
    }

    /* Enhance the first <p> element which is the introTextContent */
    .automan-introduction-container p:first-of-type {
        font-weight: bold;
        /* Make it bold */
        font-size: 1.25rem;
        /* Larger font size */
        color: #212529;
        /* Dark text color */
    }

    .automan-introduction {
        font-family: 'Expo2', sans-serif;
        font-size: 1.1rem;
        background: -webkit-linear-gradient(#eee, #9c9898, #333);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
        margin-bottom: 10px;
        /* padding: 10px; */
    }

    .card-container {
        display: flex;
        /* Allow cards to wrap  */
        flex-wrap: wrap;
        gap: 15px;
    }

    .card-row {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    .card-key {
        font-weight: bold;
        flex: 0 0 30%;
        /* Adjust as needed  */
    }

    .card-value {
        flex: 1;
        /* Allow value to expand */
    }

    .disclaimer {
        font-size: 0.85rem;
        /* Slightly smaller font */
        color: #666;
        /* Muted gray */
        margin-top: 5px;
        /* Spacing above */
        text-align: left;
        /* Centered */
    }

    .lead-text {
        font-weight: 600;
        /* Slightly bolder */
        text-align: left;
        /* Center the text */
        margin-bottom: 15px;
        /* Add spacing below */
    }

    .automan-error {
        font-family: 'Exo2', sans-serif;
        /* Change to your preferred font */
        color: maroon;
        font-size: 1.1em;
        font-weight: 700;
        padding: 10px;
        border: 3px solid maroon;
        border-radius: 5px;
        background: linear-gradient(145deg, #ffffff, #e6e6e6);
        /* linear-gradient(145deg, silver, gray); */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        animation: pulseError 1s;
    }

    @keyframes pulseError {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(1.05);
            opacity: 0.8;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    /* .nav-tabs .nav-link {
        border: 2px solid transparent;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background: #f8f9fa;

        margin: 5px;
    }

    .nav-tabs .nav-link.active {
        color: #495057;
        background-color: #fed7aa;
        border-color: #dee2e6;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
    
    } */
    .nav-tabs .nav-link {
        justify-content: center;
        border: 2px solid #555a5e;
        /* Slightly darker metallic border */
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background-color: #303538;
        /* Darker metallic for unselected tab */
        margin: 5px;
        color: #ddd;
        /* Light text on the tabs */
    }

    .nav-tabs .nav-link.active {
        color: #f5f1f0;
        /* Almost black text on selected tab */
        background-color: #656a6e;
        /* Slightly brighter for selected tab */
        border-color: #bc715c;
        font-weight: 600;
        /* Border matches selected tab background */
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        /* Subtle shadow underneath */
    }

    /* Specific hover styles for readability on dark background */
    .nav-tabs .nav-link:hover {
        color: #f0f0f0;
        /* Very light, near white color */
        background-color: #454a4e;
        font-weight: 600;
        /* Slightly darker on hover for contrast */
    }

    .nav-tabs.nav-fill {
        justify-content: center;
        /* Center the tab items horizontally */
    }

    .nav-tabs .nav-item {
        margin: 0 10px;
        /* Add spacing between tab items */
    }

    /* added for btn-export-pdf and rest of form customization 2023-11-06 */

    .tab-content>.tab-pane {
        border: 2px solid rgba(255, 255, 255, 0.5);
        /* Semi-transparent metallic border */
        background: transparent;
        /* background: linear-gradient(160deg, #97989a, #d1d3d5, #555d61 100%); */
        /* Slightly brighter metallic background */
        filter: saturate(0.8);
        margin: 5px;
        padding: 10px;
        transition: box-shadow 0.2s ease;
        /* Add transition for hover effect */
    }

    .tab-content>.tab-pane:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        /* Subtle 'lifted' shadow on hover */

        /* Desaturate the background , 0.8 is the default value */
    }

    /* Mobile friendly adjustments */
    @media (max-width: 768px) {
        .nav-tabs .nav-link {
            padding: 0.5rem 1rem;
        }

        .tab-content>.tab-pane {
            padding: 10px;
        }
    }

    /* added for btn-export-pdf and rest of form customization 2023-11-06 */
    /* Updated form control,label, te styles */
    .form-group .form-control,
    .form-control,
    .form-select {
        background-color: #4d5357;
        /* A lighter metallic background */
        border: 1px solid #555a5e;
        /* Slightly darker border */
        color: #e0e0e0;
        /* Light, off-white text */
    }

    .form-text {
        color: #9ba1a3;
        /* Slightly muted gray for helper text */
        font-size: 0.95rem;
        /* Reduce the size slightly */
    }

    /* Labels remain bold */
    .form-label,
    label {
        font-weight: 600;
        /* Slightly bolder text */
        font-family: 'Exo2', sans-serif;
        /* Or your chosen font */
        color: #e0e0e0;
        /* Light, off-white text */
    }

    /* Lighter metallic effect enhancement on focus */
    .form-select:focus,
    .form-control:focus {
        border-color: #656a6e;
        /* Slightly brighter metallic color */
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15) inset,
            /* More subtle inset shadow */
            0px 2px 8px rgba(192, 192, 192, 0.6);
        /* Brighter glow */
    }

    /* Styles for the export buttons */
    .btn-export-pdf {
        background-color: transparent;
        /* Green background */
        color: rgb(10, 10, 10);
        /* White text */
        border: none;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .btn-export-pdf:hover {
        background-color: #e89d74;
        color: rgb(81, 78, 78);

    }

    /* Responsive styling for the buttons */
    @media (min-width: 576px) {
        .btn-export-pdf {
            width: auto;
            /* Auto width for larger screens */
        }
    }

    .steel-plate-card {
        background: linear-gradient(90deg, #d6dadd, #c3ccd1, #dbe4ea 40%, #8e9caf);
        color: #333;
        font-family: 'Roboto', sans-serif;
        border: 1px solid #707070;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        text-align: center;
        padding: 15px;
        margin-top: 20px;
    }

    .steel-plate-card h2,
    .steel-plate-card p {
        margin: 10px 0;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }

    .steel-plate-card::after {
        content: '';
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        z-index: -1;
        background: linear-gradient(145deg, #edeff1, #cfd4d7, #c6cdd9);
        border-radius: 5px;
    }


    .steel-plate-card .card-header {
        background-color: #f7f7f7;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    .steel-plate-card .card-body p {
        margin: 10px 0;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 5px;
    }

    #customSectionForPdf {
        text-align: center;
        /* Center-align the content */
        padding: 20px;
        /* Add some padding */
        font-family: 'Roboto', sans-serif;
        /* Use Roboto font */
    }

    #customSectionForPdf img {
        max-width: 100px;
        /* Adjust logo size */
        margin-bottom: 20px;
        /* Space below the logo */
    }

    .g-recaptcha {
        border: none !important;
    }

    /* If the border is on an inner element, you might need to be more specific */
    .g-recaptcha iframe,
    .g-recaptcha div {
        border: none !important;
    }

    /* Example of a specific CSS override */
    .g-recaptcha>div,
    .g-recaptcha iframe {
        border: none !important;
    }
</style>

{{ POPULAR_NHTSA_VARIABLE_NAMES_BY_SORTED_GROUPS|json_script:"popularNhtsaVariableNames" }}
<script>

    let customer_user_login_url = `{% url 'customer_users:customer_user_login' %}`;
</script>

<section class="container pt-5 mt-5">
    <!-- django messages section  -->
    {% include 'homepageapp/14_homepageapp_messages_section.html' %}
    <div class="card border-0 ">
        <h3 class='card-header automan-glossy-metallic'>Vin Report</h3>

        <div class="card-body border-0">
            <div class="row">
                <p class="lead-text p-1 "> Use the forms below to get your report. Search limits may apply.</p>

                <hr>
                <ul class="nav nav-tabs nav-fill" id="searchType" role="tablist">
                    <li class="nav-item p-1 my-1" role="presentation">
                        <button class="nav-link active" id="byVIN-tab" data-bs-toggle="tab" type="button"
                            data-bs-target="#byVIN" role="tab" aria-controls="byVIN" aria-selected="false">By
                            VIN</button>
                    </li>
                    <li class="nav-item p-1 my-1" role="presentation">
                        <button class="nav-link " id="byPlate-tab" data-bs-toggle="tab" type="button"
                            data-bs-target="#byPlate" role="tab" aria-controls="byPlate" aria-selected="true">By
                            PlateNumber</button>
                    </li>

                </ul>
            </div>


            <div class="tab-content" id="searchTypeContent">

                <div class="tab-pane fade show active" id="byVIN" role="tabpanel" aria-labelledby="byVIN-tab">


                    <!-- By VIN Form -->
                    {% crispy vin_form vin_form.helper %}

                </div>
                <!-- end of the Vin Search Form  -->

                <div class="tab-pane fade show automan-glossy-metallic" id="byPlate" role="tabpanel"
                    aria-labelledby="byPlate-tab">
                    <!-- By Plate Form -->
                    {% crispy plate_form plate_form.helper %}

                </div>
            </div>
            <!-- end of form tab-cotent -->
            <p class="disclaimer">
                Disclaimer: The data provided may contain inaccuracies. This website is not responsible for any
                damages resulting from
                the use of this information. Please use at your own risk.
            </p>
        </div>

        <!-- export-to-pdf buttons-->

        <div class="card-footer bg-white justify-content-start">
            <div class="col-md-4">
                <button id="exportPdfButtonClientSide" class="btn btn-export-pdf">
                    Export to <i class="fas fa-file-pdf me-3"></i>
                </button>
            </div>
        </div>

        <!-- end of pdf buttons -->
    </div>
    <!-- end of card  -->

</section>
<!-- end of container  -->


<!-- custom section displayed only in the PDF -->
<div id="customSectionForPdf" style="display: none;">

</div>


<!-- resultData Display  -->
<div class="container mt-1" id="resultDataDisplay">

</div>

<!-- search result container  -->
<div class="container my-2">
    <div id="searchResults">
        {% if vehicle %}
        <!-- Basic Information Card -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ vehicle.name }}</h5>
                <p class="card-text">Details: {{ vehicle.details }}</p>
            </div>
        </div>

        <!-- Premium Content -->
        <a href="{% url 'checkout_page' vin_number=vin_number %}" class="btn btn-primary">
            Full VIN Report
        </a>
        <div class="card card-hover bg-light">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="text-muted">Premium content available, including safety recalls, manufacturing
                        information and battery information for electric vehicles
                    </div>
                    <a href="{% url 'shops:payment_checkout' proudct_id='prod_PKOol19RtrtGTG' %}"
                        class="btn btn-primary">Purchase to view</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<!-- Include the libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="{% static 'shops/js/vehicle_search_product.js' %}"></script>


{% endblock %}