{% extends "appointments/00-appointment-base.html" %}


{% block content-main %}
  <h1>Appointment Preview</h1>

  Hello {{appointment.appointment_first_name}} {{apppontment.appointment_last_name}}, here is the appointment you requested.
  <table class="table">
    <thead>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Appointment Time Requested</th>
        <td>{{ appointment.appointment_requested_datetime }}</td>

      </tr>
      <tr>
        <th scope="row"> Vehicle Information</th>
        <td>{{ appointment.appointment_vehicle_detail }}</td>
      </tr>
      <tr>
        <th scope="row">The description of your concern</th>
        <td>{{ appointment.appointment_concern_description }}</td>
      </tr>
      <tr>
        <th scope="row">Email you entered</th>
        <td>{{appointment.appointment_email }}</td>
      </tr>   
      <tr>
        <th scope="row">Status</th>
        <td>{{appointment.appointment_status }}</td>
      </tr>
    </tbody>
  </table>
<br>
  <p>Click the 'confirm' button below when you finishing review the information below</p>

  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="appointment_id" value="{{ appointment.appointment_id }}">
    <button type="submit" class="btn btn-primary">Confirm</button>
  </form>
  
{% endblock %}